In [1]:
import os

assert os.environ['CONDA_DEFAULT_ENV']=='ttv'

Naming aliases:


https://exoplanetarchive.ipac.caltech.edu/cgi-bin/Lookup/nph-aliaslookup.py?objname=Gaia DR2 2127941757262806656 b

## NExSci

In [1]:
import sys
sys.path.insert(0, '../code')
from utils import *

In [2]:
df3_orig = get_nexsci_data()
df3_orig.tail()

Column definitions:  https://exoplanetarchive.ipac.caltech.edu/docs/API_PS_columns.html
Loaded:  ../data/nexsci_ps.csv

/home/jp/github/research/project/young_ttvs/notebooks/../code/utils.py:216: DtypeWarning: Columns (50,65,153,183,206,211,237,242) have mixed types. Specify dtype option on import or set low_memory=False.
  df_nexsci = pd.read_csv(fp)

,pl_name,pl_letter,hostname,hd_name,hip_name,tic_id,gaia_id,default_flag,pl_refname,sy_refname,...,sy_jmagstr,sy_hmag,sy_hmagerr1,sy_hmagerr2,sy_hmagstr,sy_kmag,sy_kmagerr1,sy_kmagerr2,sky_coord.ra,sky_coord.dec
30845,Kepler-411 d,d,Kepler-411,NaN,NaN,TIC 399954349,Gaia DR2 2132768952604988672,0,<a refstr=Q1_Q12_KOI_TABLE href=https://exopla...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,10.641&plusmn;0.022,10.161,0.028,-0.028,10.161&plusmn;0.028,10.062,0.023,-0.023,287.605703,49.523394
30846,Kepler-723 b,b,Kepler-723,NaN,NaN,TIC 164786087,Gaia DR2 2106735064179220480,0,<a refstr=Q1_Q8_KOI_TABLE href=https://exoplan...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,13.949&plusmn;0.026,13.593,0.021,-0.021,13.593&plusmn;0.021,13.499,0.046,-0.046,284.830443,44.658093
30847,K2-27 b,b,K2-27,NaN,NaN,TIC 363548415,Gaia DR2 3798552815560689792,0,<a refstr=KRUSE_ET_AL__2019 href=https://ui.ad...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,11.157&plusmn;0.024,10.794,0.029,-0.029,10.794&plusmn;0.029,10.704,0.024,-0.024,171.515187,1.230624
30848,TOI-1444 b,b,TOI-1444,NaN,NaN,TIC 258514800,Gaia DR2 2274696151198328960,0,<a refstr=EXOFOP_TESS_TOI href=https://exofop....,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,9.465&plusmn;0.024,9.087,0.030,-0.030,9.087&plusmn;0.030,9.061,0.021,-0.021,305.474925,70.943705
30849,TOI-2202 b,b,TOI-2202,NaN,NaN,TIC 358107516,Gaia DR2 4641274773980363520,1,<a refstr=TRIFONOV_ET_AL__2021 href=https://ui...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,11.326&plusmn;0.023,10.873,0.024,-0.024,10.873&plusmn;0.024,10.800,0.023,-0.023,51.228421,-73.957546

In [3]:
df3 = df3_orig[df3_orig['default_flag']==1]
df3.query("hostname=='V1298 Tau'")

,pl_name,pl_letter,hostname,hd_name,hip_name,tic_id,gaia_id,default_flag,pl_refname,sy_refname,...,sy_jmagstr,sy_hmag,sy_hmagerr1,sy_hmagerr2,sy_hmagstr,sy_kmag,sy_kmagerr1,sy_kmagerr2,sky_coord.ra,sky_coord.dec
16583,V1298 Tau c,c,V1298 Tau,NaN,NaN,TIC 15756231,Gaia DR2 51886335968692480,1,<a refstr=DAVID_ET_AL__2019 href=https://ui.ad...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,8.687&plusmn;0.023,8.191,0.023,-0.023,8.191&plusmn;0.023,8.094,0.021,-0.021,61.331654,20.157032
16584,V1298 Tau b,b,V1298 Tau,NaN,NaN,TIC 15756231,Gaia DR2 51886335968692480,1,<a refstr=DAVID_ET_AL__2019 href=https://ui.ad...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,8.687&plusmn;0.023,8.191,0.023,-0.023,8.191&plusmn;0.023,8.094,0.021,-0.021,61.331654,20.157032
16585,V1298 Tau e,e,V1298 Tau,NaN,NaN,TIC 15756231,Gaia DR2 51886335968692480,1,<a refstr=DAVID_ET_AL__2019 href=https://ui.ad...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,8.687&plusmn;0.023,8.191,0.023,-0.023,8.191&plusmn;0.023,8.094,0.021,-0.021,61.331654,20.157032
16586,V1298 Tau d,d,V1298 Tau,NaN,NaN,TIC 15756231,Gaia DR2 51886335968692480,1,<a refstr=DAVID_ET_AL__2019 href=https://ui.ad...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,8.687&plusmn;0.023,8.191,0.023,-0.023,8.191&plusmn;0.023,8.094,0.021,-0.021,61.331654,20.157032

In [4]:
nsys = df3['hostname'].value_counts()
nsys

KOI-351       8
TRAPPIST-1    7
Kepler-80     6
Kepler-11     6
K2-138        6
             ..
TOI-1807      1
K2-253        1
NGTS-20       1
CoRoT-13      1
TOI-2202      1
Name: hostname, Length: 2981, dtype: int64

In [5]:
host_multis = list(nsys[nsys>1].index)
print(len(host_multis))

621

In [6]:
multi_w_prot = df3[df3.hostname.isin(host_multis)]
host_multis_w_prot = multi_w_prot[multi_w_prot.st_rotp>0].hostname.unique()
host_multis_w_prot

array(['TOI-1468', 'K2-136', 'TOI-2076', 'TOI-1246', 'HD 23472',
       'TOI-776', 'LHS 1678', 'WASP-47', 'K2-36', 'TOI-763', 'K2-3',
       'TOI-421', 'HD 93963 A', 'L 98-59', 'HD 15337', 'GJ 9827',
       'TOI-942', 'HD 73583', 'HD 63433', 'Kepler-411', 'TOI-1260',
       'TOI-451', 'WASP-132', 'HD 109833', 'LTT 3780', 'Kepler-107',
       'K2-185', 'HD 260655', 'TOI-431', 'K2-155', 'K2-264', 'TOI-712',
       'K2-240', 'K2-352', 'K2-331', 'V1298 Tau', 'K2-350',
       'EPIC 249893012', 'K2-268'], dtype=object)

!pip install tess-point

In [69]:
from tess_stars2px import tess_stars2px_function_entry

target = 'K2-219'
dd = df3[df3.hostname==target]
ra, dec, tic = dd.iloc[0][['ra','dec','tic_id']].values
ticid = int(tic.split()[-1])
outID, outEclipLong, outEclipLat, outSec, outCam, outCcd, \
            outColPix, outRowPix, scinfo = tess_stars2px_function_entry(
                    ticid, ra, dec)
outSec

array([42, 43, 70])

In [68]:
import lightkurve as lk

res=lk.search_lightcurve(target, mission='tess')
res

SearchResult containing 9 data products.

 #     mission     year   author  exptime target_name distance
                                     s                 arcsec
--- -------------- ---- --------- ------- ----------- --------
  0 TESS Sector 16 2019      SPOC     120    27491137      0.0
  1 TESS Sector 16 2019 TESS-SPOC    1800    27491137      0.0
  2 TESS Sector 16 2019       QLP    1800    27491137      0.0
  3 TESS Sector 16 2019     CDIPS    1800    27491137      0.0
  4 TESS Sector 23 2020      SPOC     120    27491137      0.0
  5 TESS Sector 23 2020 TESS-SPOC    1800    27491137      0.0
  6 TESS Sector 23 2020       QLP    1800    27491137      0.0
  7 TESS Sector 50 2022      SPOC      20    27491137      0.0
  8 TESS Sector 50 2022      SPOC     120    27491137      0.0

In [46]:
show_known_ttvs = True

ttv_1st_order = []       # commensurability in 1 planet pair 
ttv_2nd_order = []
ttv_chain = []           # more than 1 planet pair
deltas1 = []
deltas2 = []
texts = []
for hostname in host_multis:
    dd = df3[df3['hostname']==hostname].sort_values(by='pl_orbper')
    ra, dec, tic = dd.iloc[0][['ra','dec','tic_id']].values
    ticid = int(tic.split()[-1])
    
    periods = dd["pl_orbper"].values
    Nplanets = len(periods)
    
    resonances_1st_order, delta1 = get_resonant_pairs(periods, order=1, tol=0.01);
    resonances_2nd_order, delta2 = get_resonant_pairs(periods, order=2, tol=0.01);
    
    Prot = dd['st_rotp'].unique()[0]
#     url = dd.iloc[-1]['pl_refname'].split()[2].split('=')[-1]
    url = f"https://exoplanetarchive.ipac.caltech.edu/overview/{hostname}"
    refs = dd['pl_refname'].unique()
    ref = refs[-1].split()[1].split('=')[-1].replace('_ET_AL__', '+').title()
    ref = ref.replace('__Amp__', '&')
    
    msg = f"{hostname} (nplanets={Nplanets}, [{ref}]({url})):<br>\n"
    is_ttv = dd.ttv_flag.sum()>=1
    if show_known_ttvs:
        flag = ', known TTV' if is_ttv else ''
        msg = f"{hostname} (nplanets={Nplanets}, [{ref}]({url}){flag}):<br>\n"
    
    show = False
    if len(resonances_1st_order)>=1:
        msg += f"First Order: {' '.join(resonances_1st_order)}<br>\n"
        ttv_1st_order.append(hostname)
        deltas1.append(min(delta1))
        if len(resonances_1st_order)>=2:
            ttv_chain.append(hostname)
            if str(Prot)!='nan':
                msg+=f'Prot={Prot:.2f} d\n'
        show = True
    if len(resonances_2nd_order)>=1:
        msg += f"Second Order: {' '.join(resonances_2nd_order)}\n"
        ttv_2nd_order.append(hostname)
        deltas2.append(min(delta2))
        show = True
        
    # check if observed by TESS
    outID, outEclipLong, outEclipLat, outSec, outCam, outCcd, \
            outColPix, outRowPix, scinfo = tess_stars2px_function_entry(
                    ticid, ra, dec)
    if len(outSec)>0:
        msg += f"TESS sectors={outSec}<br>\n"
        
    if show:
        print(msg)
        texts.append(msg)

KOI-351 (nplanets=8, [Shallue&Vanderburg_2018](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-351)):<br>
First Order: 5:4 | P=(8.72,7.01) n=(1,2) (delta=0.47%)<br>
Second Order: 5:3 | P=(14.45,8.72) n=(2,3) (delta=0.57%)
TESS sectors=[14 15 26 40 41 55 74 75 80 81 82]<br>

TRAPPIST-1 (nplanets=7, [Agol+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TRAPPIST-1), known TTV):<br>
First Order: 3:2 | P=(6.10,4.05) n=(3,4) (delta=0.45%) 3:2 | P=(9.21,6.10) n=(4,5) (delta=0.61%) 4:3 | P=(12.35,9.21) n=(5,6) (delta=0.62%)<br>
Second Order: 5:3 | P=(4.05,2.42) n=(2,3) (delta=0.31%) 6:4 | P=(6.10,4.05) n=(3,4) (delta=0.45%) 6:4 | P=(9.21,6.10) n=(4,5) (delta=0.61%) 8:6 | P=(12.35,9.21) n=(5,6) (delta=0.62%)
TESS sectors=[70]<br>

Kepler-80 (nplanets=6, [Shallue&Vanderburg_2018](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-80), known TTV):<br>
First Order: 3:2 | P=(4.64,3.07) n=(2,3) (delta=0.79%)<br>
Second Order: 6:4 | P=(4.64,3.07) n=(2,3) (delta=0.79%)
TESS sectors=[14 15 41 54 55 81 82]<br>

Kepler-11 (nplanets=6, [Lissauer+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-11), known TTV):<br>
Second Order: 7:5 | P=(32.00,22.68) n=(3,4) (delta=0.76%)
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

K2-138 (nplanets=6, [Lopez+2019](https://exoplanetarchive.ipac.caltech.edu/overview/K2-138)):<br>
First Order: 3:2 | P=(3.56,2.35) n=(1,2) (delta=0.86%)<br>
Second Order: 6:4 | P=(3.56,2.35) n=(1,2) (delta=0.86%)
TESS sectors=[42 70]<br>

TOI-1136 (nplanets=6, [Dai+2022](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-1136)):<br>
First Order: 3:2 | P=(6.26,4.17) n=(1,2) (delta=0.03%) 2:1 | P=(12.52,6.26) n=(2,3) (delta=0.04%) 3:2 | P=(18.80,12.52) n=(3,4) (delta=0.11%) 3:2 | P=(39.54,26.32) n=(5,6) (delta=0.16%)<br>
Second Order: 6:4 | P=(6.26,4.17) n=(1,2) (delta=0.03%) 4:2 | P=(12.52,6.26) n=(2,3) (delta=0.04%) 6:4 | P=(18.80,12.52) n=(3,4) (delta=0.11%) 7:5 | P=(26.32,18.80) n=(4,5) (delta=0.01%) 6:4 | P=(39.54,26.32) n=(5,6) (delta=0.16%)
TESS sectors=[14 15 21 22 41 48 75]<br>

Kepler-186 (nplanets=5, [Torres+2015](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-186)):<br>
Second Order: 5:3 | P=(22.41,13.34) n=(3,4) (delta=0.76%)
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

Kepler-55 (nplanets=5, [Steffen+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-55), known TTV):<br>
First Order: 3:2 | P=(42.15,27.95) n=(4,5) (delta=0.55%)<br>
Second Order: 6:4 | P=(42.15,27.95) n=(4,5) (delta=0.55%)
TESS sectors=[14 26 40 41 53 55 74 75 80 81 82]<br>

TOI-561 (nplanets=5, [Weiss+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-561)):<br>
First Order: 3:2 | P=(16.29,10.78) n=(2,3) (delta=0.73%)<br>
Second Order: 6:4 | P=(16.29,10.78) n=(2,3) (delta=0.73%) 3:1 | P=(77.23,25.62) n=(4,5) (delta=0.48%)
TESS sectors=[ 8 35 45 46 72]<br>

HD 108236 (nplanets=5, [Bonfanti+2021](https://exoplanetarchive.ipac.caltech.edu/overview/HD 108236)):<br>
First Order: 3:2 | P=(29.54,19.59) n=(4,5) (delta=0.53%)<br>
Second Order: 6:4 | P=(29.54,19.59) n=(4,5) (delta=0.53%)
TESS sectors=[10 11 37]<br>

HD 23472 (nplanets=5, [Barros+2022](https://exoplanetarchive.ipac.caltech.edu/overview/HD 23472)):<br>
First Order: 2:1 | P=(7.91,3.98) n=(1,2) (delta=0.58%)<br>
Second Order: 4:2 | P=(7.91,3.98) n=(1,2) (delta=0.58%)
TESS sectors=[ 1  2  3  4 11 29 30 31 34 64 68 69]<br>

Kepler-102 (nplanets=5, [Marcy+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-102)):<br>
First Order: 4:3 | P=(7.07,5.29) n=(1,2) (delta=0.31%)<br>
Second Order: 8:6 | P=(7.07,5.29) n=(1,2) (delta=0.31%)
TESS sectors=[14 26 40 41 53 54 55 74 75 80 81 82]<br>

K2-384 (nplanets=5, [Christiansen+2022](https://exoplanetarchive.ipac.caltech.edu/overview/K2-384)):<br>
Second Order: 7:5 | P=(13.63,9.72) n=(4,5) (delta=0.19%)
TESS sectors=[ 3 30 42 43 70]<br>

Kepler-33 (nplanets=5, [Lissauer+2012](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-33), known TTV):<br>
Second Order: 5:3 | P=(21.78,13.18) n=(2,3) (delta=0.84%) 9:7 | P=(41.03,31.78) n=(4,5) (delta=0.40%)
TESS sectors=[14 15 40 41 53 54 55 74 75 80 81 82]<br>

Kepler-444 (nplanets=5, [Campante+2015](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-444)):<br>
First Order: 5:4 | P=(7.74,6.19) n=(3,4) (delta=0.09%) 5:4 | P=(9.74,7.74) n=(4,5) (delta=0.63%)<br>
TESS sectors=[14 40 41 54 55 74 75 80 82]<br>

Kepler-223 (nplanets=4, [Mills+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-223), known TTV):<br>
First Order: 4:3 | P=(9.85,7.38) n=(1,2) (delta=0.00%) 3:2 | P=(14.79,9.85) n=(2,3) (delta=0.14%) 4:3 | P=(19.73,14.79) n=(3,4) (delta=0.04%)<br>
Second Order: 8:6 | P=(9.85,7.38) n=(1,2) (delta=0.00%) 6:4 | P=(14.79,9.85) n=(2,3) (delta=0.14%) 8:6 | P=(19.73,14.79) n=(3,4) (delta=0.04%)
TESS sectors=[14 15 41 54 56 74 75 81 82]<br>

Kepler-85 (nplanets=4, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-85), known TTV):<br>
First Order: 3:2 | P=(12.51,8.31) n=(1,2) (delta=0.43%)<br>
Second Order: 6:4 | P=(12.51,8.31) n=(1,2) (delta=0.43%) 7:5 | P=(25.22,17.91) n=(3,4) (delta=0.55%)
TESS sectors=[15 40 41 55 74 75 80 81]<br>

K2-72 (nplanets=4, [Dressing+2017](https://exoplanetarchive.ipac.caltech.edu/overview/K2-72)):<br>
Second Order: 7:5 | P=(7.76,5.58) n=(1,2) (delta=0.61%)
TESS sectors=[42]<br>

Kepler-208 (nplanets=4, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-208)):<br>
First Order: 3:2 | P=(11.13,7.47) n=(2,3) (delta=0.61%)<br>
Second Order: 6:4 | P=(11.13,7.47) n=(2,3) (delta=0.61%)
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

K2-266 (nplanets=4, [Rodriguez+2018](https://exoplanetarchive.ipac.caltech.edu/overview/K2-266), known TTV):<br>
First Order: 4:3 | P=(19.48,14.70) n=(3,4) (delta=0.58%)<br>
Second Order: 8:6 | P=(19.48,14.70) n=(3,4) (delta=0.58%)
TESS sectors=[35 45 46 62 72]<br>

V1298 Tau (nplanets=4, [David+2019](https://exoplanetarchive.ipac.caltech.edu/overview/V1298 Tau)):<br>
First Order: 3:2 | P=(12.40,8.25) n=(1,2) (delta=0.23%)<br>
Second Order: 6:4 | P=(12.40,8.25) n=(1,2) (delta=0.23%)
TESS sectors=[43 44]<br>

Kepler-49 (nplanets=4, [Steffen+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-49), known TTV):<br>
First Order: 3:2 | P=(10.91,7.20) n=(2,3) (delta=0.99%)<br>
Second Order: 6:4 | P=(10.91,7.20) n=(2,3) (delta=0.99%)
TESS sectors=[14 40 41 54 55 74 75 81 82]<br>

Kepler-24 (nplanets=4, [Ford+2012](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-24), known TTV):<br>
First Order: 3:2 | P=(12.33,8.15) n=(2,3) (delta=0.95%)<br>
Second Order: 6:4 | P=(12.33,8.15) n=(2,3) (delta=0.95%)
TESS sectors=[14 40 41 54 55 74 75 81]<br>

TOI-700 (nplanets=4, [Gilbert+2023](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-700)):<br>
First Order: 4:3 | P=(37.42,27.81) n=(3,4) (delta=0.93%)<br>
Second Order: 8:6 | P=(37.42,27.81) n=(3,4) (delta=0.93%)
TESS sectors=[ 1  3  4  5  6  7  8  9 10 11 13 27 28 30 31 33 34 35 36 37 38 61 62 63
 64 65 66 68 69]<br>

Kepler-342 (nplanets=4, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-342), known TTV):<br>
First Order: 3:2 | P=(39.46,26.23) n=(3,4) (delta=0.27%)<br>
Second Order: 6:4 | P=(39.46,26.23) n=(3,4) (delta=0.27%)
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

Kepler-26 (nplanets=4, [Jontof_Hutter+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-26), known TTV):<br>
Second Order: 7:5 | P=(17.26,12.28) n=(2,3) (delta=0.37%)
TESS sectors=[14 26 40 41 53 55 74 75 80 81 82]<br>

Kepler-305 (nplanets=4, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-305), known TTV):<br>
First Order: 3:2 | P=(8.29,5.49) n=(2,3) (delta=0.74%) 2:1 | P=(16.74,8.29) n=(3,4) (delta=0.94%)<br>
Second Order: 6:4 | P=(8.29,5.49) n=(2,3) (delta=0.74%) 4:2 | P=(16.74,8.29) n=(3,4) (delta=0.94%)
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

HD 191939 (nplanets=4, [Orell_Miquel+2022](https://exoplanetarchive.ipac.caltech.edu/overview/HD 191939)):<br>
First Order: 4:3 | P=(38.35,28.58) n=(2,3) (delta=0.65%)<br>
Second Order: 8:6 | P=(38.35,28.58) n=(2,3) (delta=0.65%)
TESS sectors=[14 15 16 17 18 19 21 22 24 25 41 48 49 51 52 55 56 58 59 60 73 75 76 77
 78 79 82 83]<br>

K2-285 (nplanets=4, [Palle+2019](https://exoplanetarchive.ipac.caltech.edu/overview/K2-285)):<br>
Second Order: 7:5 | P=(14.76,10.46) n=(3,4) (delta=0.85%)
TESS sectors=[42 70]<br>

Kepler-197 (nplanets=4, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-197)):<br>
First Order: 3:2 | P=(15.68,10.35) n=(2,3) (delta=0.99%)<br>
Second Order: 6:4 | P=(15.68,10.35) n=(2,3) (delta=0.99%)
TESS sectors=[14 15 41 54 55 56 74 75 76 81 82 83]<br>

Kepler-402 (nplanets=4, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-402)):<br>
First Order: 5:4 | P=(11.24,8.92) n=(3,4) (delta=0.82%)<br>
TESS sectors=[14 40 41 53 54 55 74 75 80 81]<br>

Kepler-176 (nplanets=4, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-176), known TTV):<br>
First Order: 2:1 | P=(25.75,12.76) n=(2,3) (delta=0.91%) 2:1 | P=(51.17,25.75) n=(3,4) (delta=0.66%)<br>
Second Order: 4:2 | P=(25.75,12.76) n=(2,3) (delta=0.91%) 4:2 | P=(51.17,25.75) n=(3,4) (delta=0.66%)
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

Kepler-1542 (nplanets=4, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1542)):<br>
First Order: 7:6 | P=(5.99,5.10) n=(3,4) (delta=0.70%)<br>
Second Order: 9:7 | P=(5.10,3.95) n=(2,3) (delta=0.42%)
TESS sectors=[14 26 40 41 53 54 55 74 75 80 81]<br>

Kepler-372 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-372)):<br>
First Order: 3:2 | P=(30.09,20.05) n=(2,3) (delta=0.04%)<br>
Second Order: 6:4 | P=(30.09,20.05) n=(2,3) (delta=0.04%)
TESS sectors=[14 15 40 41 54 55 74 75 80 81 82]<br>

Kepler-127 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-127), known TTV):<br>
Second Order: 5:3 | P=(48.63,29.39) n=(2,3) (delta=0.73%)
TESS sectors=[14 26 40 41 53 55 74 75 80 81 82]<br>

HD 28109 (nplanets=3, [Dransfield+2022](https://exoplanetarchive.ipac.caltech.edu/overview/HD 28109), known TTV):<br>
First Order: 3:2 | P=(84.26,56.01) n=(2,3) (delta=0.29%)<br>
Second Order: 6:4 | P=(84.26,56.01) n=(2,3) (delta=0.29%)
TESS sectors=[ 1  2  3  4  5  6  7  8  9 10 11 12 13 27 28 29 30 31 33 34 35 36 37 38
 39 61 62 63 64 65 66 67 68 69]<br>

KOI-7892 (nplanets=3, [Wang+2015](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-7892)):<br>
Second Order: 3:1 | P=(31.81,10.69) n=(1,2) (delta=0.82%)
TESS sectors=[14 26 40 41 53 54 74 75]<br>

TOI-270 (nplanets=3, [Van_Eylen+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-270)):<br>
First Order: 2:1 | P=(11.38,5.66) n=(2,3) (delta=0.52%)<br>
Second Order: 4:2 | P=(11.38,5.66) n=(2,3) (delta=0.52%)
TESS sectors=[ 3  4  5 30 32]<br>

TOI-2076 (nplanets=3, [Osborn+2022](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-2076), known TTV):<br>
Second Order: 5:3 | P=(35.13,21.02) n=(2,3) (delta=0.28%)
TESS sectors=[16 23 50 77]<br>

GJ 9827 (nplanets=3, [Rice+2019](https://exoplanetarchive.ipac.caltech.edu/overview/GJ 9827)):<br>
Second Order: 3:1 | P=(3.65,1.21) n=(1,2) (delta=0.58%)
TESS sectors=[42 70]<br>

L 98-59 (nplanets=3, [Demangeon+2021](https://exoplanetarchive.ipac.caltech.edu/overview/L 98-59)):<br>
First Order: 2:1 | P=(7.45,3.69) n=(2,3) (delta=0.94%)<br>
Second Order: 4:2 | P=(7.45,3.69) n=(2,3) (delta=0.94%)
TESS sectors=[ 2  5  8  9 10 11 12 28 29 32 35 36 37 38 39 61 62 63 64 65 69]<br>

Kepler-271 (nplanets=3, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-271)):<br>
Second Order: 7:5 | P=(7.41,5.25) n=(1,2) (delta=0.83%) 7:5 | P=(10.44,7.41) n=(2,3) (delta=0.58%)
TESS sectors=[14 26 40 41 53 54 55 74 75 80 81]<br>

Kepler-385 (nplanets=3, [Armstrong+2021](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-385)):<br>
First Order: 3:2 | P=(15.16,10.04) n=(1,2) (delta=0.65%)<br>
Second Order: 6:4 | P=(15.16,10.04) n=(1,2) (delta=0.65%)
TESS sectors=[14 15 40 41 54 55 56 74 75 76 81 82 83]<br>

Kepler-138 (nplanets=3, [Piaulet+2022](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-138), known TTV):<br>
First Order: 4:3 | P=(13.78,10.31) n=(1,2) (delta=0.22%)<br>
Second Order: 8:6 | P=(13.78,10.31) n=(1,2) (delta=0.22%) 5:3 | P=(23.09,13.78) n=(2,3) (delta=0.54%)
TESS sectors=[14 40 41 54 55 74 75 80 81 82]<br>

Kepler-431 (nplanets=3, [Everett+2015](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-431)):<br>
Second Order: 9:7 | P=(8.70,6.80) n=(1,2) (delta=0.50%)
TESS sectors=[14 26 40 41 53 74 80 81]<br>

K2-219 (nplanets=3, [Mayo+2018](https://exoplanetarchive.ipac.caltech.edu/overview/K2-219)):<br>
Second Order: 5:3 | P=(11.14,6.67) n=(2,3) (delta=0.22%)
TESS sectors=[42 43 70]<br>

K2-80 (nplanets=3, [Mayo+2018](https://exoplanetarchive.ipac.caltech.edu/overview/K2-80)):<br>
First Order: 3:2 | P=(28.87,19.09) n=(2,3) (delta=0.80%)<br>
Second Order: 6:4 | P=(28.87,19.09) n=(2,3) (delta=0.80%)
TESS sectors=[ 5 32 42 43 44 70 71]<br>

K2-19 (nplanets=3, [Petigura+2020](https://exoplanetarchive.ipac.caltech.edu/overview/K2-19), known TTV):<br>
First Order: 3:2 | P=(11.90,7.92) n=(2,3) (delta=0.13%)<br>
Second Order: 6:4 | P=(11.90,7.92) n=(2,3) (delta=0.13%)
TESS sectors=[45 46 72]<br>

HR 858 (nplanets=3, [Vanderburg+2019](https://exoplanetarchive.ipac.caltech.edu/overview/HR 858)):<br>
Second Order: 5:3 | P=(5.97,3.59) n=(1,2) (delta=0.06%)
TESS sectors=[ 3  4 30 31]<br>

Kepler-445 (nplanets=3, [Muirhead+2015](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-445)):<br>
Second Order: 5:3 | P=(8.15,4.87) n=(2,3) (delta=0.42%)
TESS sectors=[14 15 41 54 55 56 74 75 81 82]<br>

Kepler-54 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-54), known TTV):<br>
First Order: 3:2 | P=(12.07,8.01) n=(1,2) (delta=0.46%)<br>
Second Order: 6:4 | P=(12.07,8.01) n=(1,2) (delta=0.46%)
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

Kepler-60 (nplanets=3, [Jontof_Hutter+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-60), known TTV):<br>
First Order: 5:4 | P=(8.92,7.13) n=(1,2) (delta=0.02%) 4:3 | P=(11.90,8.92) n=(2,3) (delta=0.05%)<br>
Second Order: 8:6 | P=(11.90,8.92) n=(2,3) (delta=0.05%)
TESS sectors=[14 40 41 54 55 74 75 80 82]<br>

Kepler-1130 (nplanets=3, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1130)):<br>
Second Order: 9:7 | P=(5.45,4.27) n=(2,3) (delta=0.73%)
TESS sectors=[14 26 40 41 53 54 55 74 75 80 82]<br>

TOI-1749 (nplanets=3, [Fukui+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-1749)):<br>
First Order: 2:1 | P=(9.05,4.49) n=(2,3) (delta=0.71%)<br>
Second Order: 4:2 | P=(9.05,4.49) n=(2,3) (delta=0.71%)
TESS sectors=[14 15 16 17 18 19 20 21 23 24 25 26 40 41 47 48 49 50 51 52 53 54 55 57
 58 59 60 74 77 78 79 80 81 82]<br>

Kepler-23 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-23), known TTV):<br>
First Order: 3:2 | P=(10.74,7.11) n=(1,2) (delta=0.76%)<br>
Second Order: 6:4 | P=(10.74,7.11) n=(1,2) (delta=0.76%)
TESS sectors=[14 15 40 41 54 55 56 74 75 76 81 82 83]<br>

K2-381 (nplanets=3, [Christiansen+2022](https://exoplanetarchive.ipac.caltech.edu/overview/K2-381)):<br>
First Order: 2:1 | P=(16.03,7.94) n=(1,2) (delta=0.99%)<br>
Second Order: 4:2 | P=(16.03,7.94) n=(1,2) (delta=0.99%) 5:3 | P=(26.80,16.03) n=(2,3) (delta=0.29%)
TESS sectors=[-1]<br>

Kepler-968 (nplanets=3, [Jontof_Hutter+2021](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-968)):<br>
First Order: 4:3 | P=(7.68,5.71) n=(2,3) (delta=0.95%)<br>
Second Order: 8:6 | P=(7.68,5.71) n=(2,3) (delta=0.95%)
TESS sectors=[14 15 26 40 41 53 54 55 74 75 80 82]<br>

Kepler-398 (nplanets=3, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-398)):<br>
Second Order: 5:3 | P=(6.83,4.08) n=(1,2) (delta=0.47%) 5:3 | P=(11.42,6.83) n=(2,3) (delta=0.25%)
TESS sectors=[14 40 41 54 55 74 75 81 82]<br>

Kepler-359 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-359), known TTV):<br>
First Order: 4:3 | P=(77.10,57.69) n=(2,3) (delta=0.23%)<br>
Second Order: 8:6 | P=(77.10,57.69) n=(2,3) (delta=0.23%)
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

Kepler-65 (nplanets=3, [Chaplin+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-65), known TTV):<br>
Second Order: 7:5 | P=(8.13,5.86) n=(2,3) (delta=0.89%)
TESS sectors=[14 40 41 54 55 74 75 80 81 82]<br>

Kepler-191 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-191)):<br>
Second Order: 5:3 | P=(9.94,5.95) n=(1,2) (delta=0.32%)
TESS sectors=[15 40 41 55 74 75 81]<br>

K2-148 (nplanets=3, [Hirano+2018](https://exoplanetarchive.ipac.caltech.edu/overview/K2-148)):<br>
Second Order: 7:5 | P=(9.76,6.92) n=(2,3) (delta=0.68%)
TESS sectors=[42 43]<br>

Kepler-254 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-254)):<br>
First Order: 3:2 | P=(18.75,12.41) n=(2,3) (delta=0.69%)<br>
Second Order: 6:4 | P=(18.75,12.41) n=(2,3) (delta=0.69%)
TESS sectors=[14 15 40 41 53 54 55 74 75 80 81 82]<br>

Kepler-339 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-339)):<br>
First Order: 3:2 | P=(10.56,6.99) n=(2,3) (delta=0.73%)<br>
Second Order: 7:5 | P=(6.99,4.98) n=(1,2) (delta=0.28%) 6:4 | P=(10.56,6.99) n=(2,3) (delta=0.73%)
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

Kepler-59 (nplanets=2, [Steffen+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-59), known TTV):<br>
First Order: 3:2 | P=(17.98,11.87) n=(1,2) (delta=1.00%)<br>
Second Order: 6:4 | P=(17.98,11.87) n=(1,2) (delta=1.00%)
TESS sectors=[14 15 26 40 41 53 54 55 74 75 80 82]<br>

KOI-1599 (nplanets=2, [Panichi+2019](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-1599), known TTV):<br>
First Order: 3:2 | P=(20.44,13.61) n=(1,2) (delta=0.14%)<br>
Second Order: 6:4 | P=(20.44,13.61) n=(1,2) (delta=0.14%)
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

K2-63 (nplanets=2, [Crossfield+2016](https://exoplanetarchive.ipac.caltech.edu/overview/K2-63)):<br>
First Order: 5:4 | P=(25.46,20.26) n=(1,2) (delta=0.53%)<br>
TESS sectors=[42]<br>

KIC 5437945 (nplanets=2, [Wang+2015](https://exoplanetarchive.ipac.caltech.edu/overview/KIC 5437945)):<br>
First Order: 2:1 | P=(440.78,220.13) n=(1,2) (delta=0.12%)<br>
Second Order: 4:2 | P=(440.78,220.13) n=(1,2) (delta=0.12%)
TESS sectors=[14 40 41 54 55 74 75 80 81]<br>

Kepler-168 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-168)):<br>
Second Order: 3:1 | P=(13.19,4.43) n=(1,2) (delta=0.62%)
TESS sectors=[14 40 41 54 55 81 82]<br>

Kepler-177 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-177), known TTV):<br>
First Order: 4:3 | P=(49.41,36.86) n=(1,2) (delta=0.53%)<br>
Second Order: 8:6 | P=(49.41,36.86) n=(1,2) (delta=0.53%)
TESS sectors=[14 26 40 41 53 55 74 75 80 81 82]<br>

Kepler-1705 (nplanets=2, [Leleu+2021](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1705), known TTV):<br>
First Order: 5:4 | P=(11.28,9.04) n=(1,2) (delta=0.12%)<br>
TESS sectors=[14 15 41 54 55 81 82]<br>

Kepler-365 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-365)):<br>
Second Order: 5:3 | P=(17.78,10.66) n=(1,2) (delta=0.05%)
TESS sectors=[14 15 40 41 54 55 56 74 75 76 81 82 83]<br>

Kepler-29 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-29), known TTV):<br>
Second Order: 9:7 | P=(13.29,10.34) n=(1,2) (delta=0.06%)
TESS sectors=[14 15 41 54 56 74 75 76 81 82]<br>

Kepler-50 (nplanets=2, [Chaplin+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-50), known TTV):<br>
First Order: 6:5 | P=(9.38,7.81) n=(1,2) (delta=0.02%)<br>
TESS sectors=[26 40 41 53 54 55 74 75 80 81 82]<br>

Kepler-804 (nplanets=2, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-804)):<br>
First Order: 3:2 | P=(14.37,9.65) n=(1,2) (delta=0.71%)<br>
Second Order: 6:4 | P=(14.37,9.65) n=(1,2) (delta=0.71%)
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

Kepler-262 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-262)):<br>
Second Order: 5:3 | P=(21.85,13.06) n=(1,2) (delta=0.39%)
TESS sectors=[14 40 41 54 55 74 75 81]<br>

HD 109833 (nplanets=2, [Wood+2022](https://exoplanetarchive.ipac.caltech.edu/overview/HD 109833)):<br>
First Order: 3:2 | P=(13.90,9.19) n=(1,2) (delta=0.85%)<br>
Second Order: 6:4 | P=(13.90,9.19) n=(1,2) (delta=0.85%)
TESS sectors=[11 12 38 39 65]<br>

Kepler-384 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-384)):<br>
First Order: 2:1 | P=(45.35,22.60) n=(1,2) (delta=0.34%)<br>
Second Order: 4:2 | P=(45.35,22.60) n=(1,2) (delta=0.34%)
TESS sectors=[14 26 40 41 53 55 74 75 81 82]<br>

Kepler-1641 (nplanets=2, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1641)):<br>
Second Order: 5:3 | P=(32.66,19.67) n=(1,2) (delta=0.40%)
TESS sectors=[14 15 54 55 74 75 81 82]<br>

K2-21 (nplanets=2, [Dressing+2017](https://exoplanetarchive.ipac.caltech.edu/overview/K2-21)):<br>
Second Order: 5:3 | P=(15.50,9.33) n=(1,2) (delta=0.26%)
TESS sectors=[42]<br>

Kepler-36 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-36), known TTV):<br>
First Order: 7:6 | P=(16.22,13.87) n=(1,2) (delta=0.24%)<br>
TESS sectors=[14 15 40 41 54 55 74 75 80 81 82]<br>

Kepler-373 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-373)):<br>
Second Order: 3:1 | P=(16.73,5.54) n=(1,2) (delta=0.72%)
TESS sectors=[14 26 41 53 54 55 56 74 75 80 81 82]<br>

Kepler-404 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-404)):<br>
First Order: 5:4 | P=(14.75,11.83) n=(1,2) (delta=0.24%)<br>
TESS sectors=[14 26 40 41 53 54 55 74 75 80 81 82]<br>

Kepler-307 (nplanets=2, [Jontof_Hutter+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-307), known TTV):<br>
First Order: 5:4 | P=(13.07,10.42) n=(1,2) (delta=0.36%)<br>
TESS sectors=[14 15 54 55 74 75 81 82]<br>

Kepler-87 (nplanets=2, [Ofir+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-87), known TTV):<br>
Second Order: 5:3 | P=(191.23,114.74) n=(1,2) (delta=0.00%)
TESS sectors=[14 15 41 54 55 56 74 75 81 82]<br>

Kepler-128 (nplanets=2, [Hadden&Lithwick_2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-128), known TTV):<br>
First Order: 3:2 | P=(22.80,15.09) n=(1,2) (delta=0.75%)<br>
Second Order: 6:4 | P=(22.80,15.09) n=(1,2) (delta=0.75%)
TESS sectors=[14 26 40 41 53 54 74 80 81]<br>

Kepler-1972 (nplanets=2, [Leleu+2022](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1972), known TTV):<br>
First Order: 3:2 | P=(11.33,7.54) n=(1,2) (delta=0.12%)<br>
Second Order: 6:4 | P=(11.33,7.54) n=(1,2) (delta=0.12%)
TESS sectors=[14 40 41 54 55 74 75 80 81]<br>

Kepler-125 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-125)):<br>
Second Order: 7:5 | P=(5.77,4.16) n=(1,2) (delta=0.96%)
TESS sectors=[14 15 41 54 56 74 75 76 81 82]<br>

KOI-3503 (nplanets=2, [Jontof_Hutter+2021](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-3503), known TTV):<br>
First Order: 3:2 | P=(31.83,21.18) n=(1,2) (delta=0.16%)<br>
Second Order: 6:4 | P=(31.83,21.18) n=(1,2) (delta=0.16%)
TESS sectors=[15 40 41 54 55 74 75 81 82]<br>

K2-146 (nplanets=2, [Hamann+2019](https://exoplanetarchive.ipac.caltech.edu/overview/K2-146), known TTV):<br>
First Order: 3:2 | P=(4.00,2.64) n=(1,2) (delta=0.96%)<br>
Second Order: 6:4 | P=(4.00,2.64) n=(1,2) (delta=0.96%)
TESS sectors=[72]<br>

Kepler-200 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-200)):<br>
First Order: 6:5 | P=(10.22,8.59) n=(1,2) (delta=0.89%)<br>
TESS sectors=[14 26 40 41 53 54 74 80 81]<br>

TOI-216 (nplanets=2, [Dawson+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-216), known TTV):<br>
First Order: 2:1 | P=(34.53,17.16) n=(1,2) (delta=0.59%)<br>
Second Order: 4:2 | P=(34.53,17.16) n=(1,2) (delta=0.59%)
TESS sectors=[ 1  2  3  4  5  6  7  8  9 11 12 13 27 28 29 30 31 32 33 34 35 36 37 38
 39 61 62 63 64 65 66 67 68 69]<br>

In [47]:
len(ttv_1st_order), len(deltas1)

(62, 62)

In [48]:
import pandas as pd

s1 = pd.DataFrame(np.c_[ttv_1st_order,deltas1], columns=['name','delta_min'])
s1['1st order'] = True
s1.sort_values(by='delta_min')

          name               delta_min  1st order
49   Kepler-50   0.0001516792234022013       True
35   Kepler-60  0.00021868954495740667       True
4     TOI-1136   0.0003067499364933779       True
26  Kepler-372   0.0003963844591161614       True
10  Kepler-444    0.000872848253915981       True
..         ...                     ...        ...
22  Kepler-197    0.009856683377303721       True
38      K2-381    0.009874701808179731       True
16   Kepler-49    0.009924635320084807       True
43   Kepler-59    0.009991287031286156       True
11  Kepler-223    3.52089311518311e-05       True

[62 rows x 3 columns]

In [49]:
s2 = pd.DataFrame(np.c_[ttv_2nd_order,deltas2], columns=['name','delta_min'])
s2['2nd order'] = True
s2.sort_values(by='delta_min')

          name               delta_min  2nd order
5     TOI-1136  0.00010182804131475542       True
31  Kepler-372   0.0003963844591161614       True
67  Kepler-365   0.0005226864229330719       True
49   Kepler-60   0.0005466043257427167       True
68   Kepler-29   0.0005883449035792854       True
..         ...                     ...        ...
28  Kepler-197    0.009856683377303721       True
20   Kepler-49    0.009924635320084807       True
62   Kepler-59    0.009991287031286156       True
76   Kepler-87  2.3793680032468956e-05       True
14  Kepler-223    3.52089311518311e-05       True

[83 rows x 3 columns]

In [50]:
res3 = pd.merge(s1, s2, how='outer')
res3 = res3.replace(np.nan, False)
res3.shape

(100, 4)

res3.groupby('name').count().max(axis=1).sort_values(ascending=False).head(10)

In [51]:
duplicate_names="KOI-351,K2-381,TRAPPIST-1,TOI-561,Kepler-1542,TOI-1136,Kepler-339,Kepler-60".split(',')
res3[res3.name.isin(duplicate_names)].sort_values('name')

           name               delta_min  1st order  2nd order
38       K2-381    0.009874701808179731       True      False
85       K2-381    0.002940992310655144      False       True
0       KOI-351   0.0046590034946450976       True      False
62      KOI-351    0.005723231309583521      False       True
25  Kepler-1542    0.006954201979207264       True      False
73  Kepler-1542    0.004150207662124483      False       True
42   Kepler-339    0.007275510376874017       True      False
90   Kepler-339     0.00277477132667614      False       True
35    Kepler-60  0.00021868954495740667       True      False
83    Kepler-60   0.0005466043257427167      False       True
4      TOI-1136   0.0003067499364933779       True      False
65     TOI-1136  0.00010182804131475542      False       True
6       TOI-561    0.007329065776045862       True      False
67      TOI-561    0.004813947436898225      False       True
1    TRAPPIST-1   0.0044756779023313875       True      False
63   TRAPPIST-1   0.0031356719848618653      False       True

In [52]:
#merge duplicate row and keep only True
res3 = res3.groupby('name', as_index=False).max() 
res3 = res3.sort_values(by='delta_min')

In [53]:
res3[res3.name.isin(duplicate_names)].sort_values('name')

           name              delta_min  1st order  2nd order
15       K2-381   0.009874701808179731       True       True
23      KOI-351   0.005723231309583521       True       True
32  Kepler-1542   0.006954201979207264       True       True
55   Kepler-339   0.007275510376874017       True       True
75    Kepler-60  0.0005466043257427167       True       True
83     TOI-1136  0.0003067499364933779       True       True
88      TOI-561   0.007329065776045862       True       True
90   TRAPPIST-1  0.0044756779023313875       True       True

In [54]:
res3.to_csv('../data/name_resonance_from_nexsci.csv')

In [55]:
len(texts), len(res3)

(92, 92)

In [56]:
res3.head()

          name              delta_min  1st order  2nd order
71   Kepler-50  0.0001516792234022013       True      False
83    TOI-1136  0.0003067499364933779       True       True
60  Kepler-372  0.0003963844591161614       True       True
59  Kepler-365  0.0005226864229330719      False       True
75   Kepler-60  0.0005466043257427167       True       True

idx = res3.index.values
for i in idx:
    print(texts[i])

In [57]:
for name in res3.name:
    idx = [True if i.split()[0]==name else False for i in texts]
    x = np.array(texts)[idx]
    print(x[0] if len(x)>0 else '')

Kepler-50 (nplanets=2, [Chaplin+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-50), known TTV):<br>
First Order: 6:5 | P=(9.38,7.81) n=(1,2) (delta=0.02%)<br>
TESS sectors=[26 40 41 53 54 55 74 75 80 81 82]<br>

TOI-1136 (nplanets=6, [Dai+2022](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-1136)):<br>
First Order: 3:2 | P=(6.26,4.17) n=(1,2) (delta=0.03%) 2:1 | P=(12.52,6.26) n=(2,3) (delta=0.04%) 3:2 | P=(18.80,12.52) n=(3,4) (delta=0.11%) 3:2 | P=(39.54,26.32) n=(5,6) (delta=0.16%)<br>
Second Order: 6:4 | P=(6.26,4.17) n=(1,2) (delta=0.03%) 4:2 | P=(12.52,6.26) n=(2,3) (delta=0.04%) 6:4 | P=(18.80,12.52) n=(3,4) (delta=0.11%) 7:5 | P=(26.32,18.80) n=(4,5) (delta=0.01%) 6:4 | P=(39.54,26.32) n=(5,6) (delta=0.16%)
TESS sectors=[14 15 21 22 41 48 75]<br>

Kepler-372 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-372)):<br>
First Order: 3:2 | P=(30.09,20.05) n=(2,3) (delta=0.04%)<br>
Second Order: 6:4 | P=(30.09,20.05) n=(2,3) (delta=0.04%)
TESS sectors=[14 15 40 41 54 55 74 75 80 81 82]<br>

Kepler-365 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-365)):<br>
Second Order: 5:3 | P=(17.78,10.66) n=(1,2) (delta=0.05%)
TESS sectors=[14 15 40 41 54 55 56 74 75 76 81 82 83]<br>

Kepler-60 (nplanets=3, [Jontof_Hutter+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-60), known TTV):<br>
First Order: 5:4 | P=(8.92,7.13) n=(1,2) (delta=0.02%) 4:3 | P=(11.90,8.92) n=(2,3) (delta=0.05%)<br>
Second Order: 8:6 | P=(11.90,8.92) n=(2,3) (delta=0.05%)
TESS sectors=[14 40 41 54 55 74 75 80 82]<br>

Kepler-29 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-29), known TTV):<br>
Second Order: 9:7 | P=(13.29,10.34) n=(1,2) (delta=0.06%)
TESS sectors=[14 15 41 54 56 74 75 76 81 82]<br>


Kepler-444 (nplanets=5, [Campante+2015](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-444)):<br>
First Order: 5:4 | P=(7.74,6.19) n=(3,4) (delta=0.09%) 5:4 | P=(9.74,7.74) n=(4,5) (delta=0.63%)<br>
TESS sectors=[14 40 41 54 55 74 75 80 82]<br>

Kepler-1972 (nplanets=2, [Leleu+2022](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1972), known TTV):<br>
First Order: 3:2 | P=(11.33,7.54) n=(1,2) (delta=0.12%)<br>
Second Order: 6:4 | P=(11.33,7.54) n=(1,2) (delta=0.12%)
TESS sectors=[14 40 41 54 55 74 75 80 81]<br>


Kepler-1705 (nplanets=2, [Leleu+2021](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1705), known TTV):<br>
First Order: 5:4 | P=(11.28,9.04) n=(1,2) (delta=0.12%)<br>
TESS sectors=[14 15 41 54 55 81 82]<br>

K2-19 (nplanets=3, [Petigura+2020](https://exoplanetarchive.ipac.caltech.edu/overview/K2-19), known TTV):<br>
First Order: 3:2 | P=(11.90,7.92) n=(2,3) (delta=0.13%)<br>
Second Order: 6:4 | P=(11.90,7.92) n=(2,3) (delta=0.13%)
TESS sectors=[45 46 72]<br>

KOI-1599 (nplanets=2, [Panichi+2019](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-1599), known TTV):<br>
First Order: 3:2 | P=(20.44,13.61) n=(1,2) (delta=0.14%)<br>
Second Order: 6:4 | P=(20.44,13.61) n=(1,2) (delta=0.14%)
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

KOI-3503 (nplanets=2, [Jontof_Hutter+2021](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-3503), known TTV):<br>
First Order: 3:2 | P=(31.83,21.18) n=(1,2) (delta=0.16%)<br>
Second Order: 6:4 | P=(31.83,21.18) n=(1,2) (delta=0.16%)
TESS sectors=[15 40 41 54 55 74 75 81 82]<br>

K2-384 (nplanets=5, [Christiansen+2022](https://exoplanetarchive.ipac.caltech.edu/overview/K2-384)):<br>
Second Order: 7:5 | P=(13.63,9.72) n=(4,5) (delta=0.19%)
TESS sectors=[ 3 30 42 43 70]<br>

Kepler-138 (nplanets=3, [Piaulet+2022](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-138), known TTV):<br>
First Order: 4:3 | P=(13.78,10.31) n=(1,2) (delta=0.22%)<br>
Second Order: 8:6 | P=(13.78,10.31) n=(1,2) (delta=0.22%) 5:3 | P=(23.09,13.78) n=(2,3) (delta=0.54%)
TESS sectors=[14 40 41 54 55 74 75 80 81 82]<br>

K2-219 (nplanets=3, [Mayo+2018](https://exoplanetarchive.ipac.caltech.edu/overview/K2-219)):<br>
Second Order: 5:3 | P=(11.14,6.67) n=(2,3) (delta=0.22%)
TESS sectors=[42 43 70]<br>

Kepler-359 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-359), known TTV):<br>
First Order: 4:3 | P=(77.10,57.69) n=(2,3) (delta=0.23%)<br>
Second Order: 8:6 | P=(77.10,57.69) n=(2,3) (delta=0.23%)
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>


Kepler-36 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-36), known TTV):<br>
First Order: 7:6 | P=(16.22,13.87) n=(1,2) (delta=0.24%)<br>
TESS sectors=[14 15 40 41 54 55 74 75 80 81 82]<br>

Kepler-404 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-404)):<br>
First Order: 5:4 | P=(14.75,11.83) n=(1,2) (delta=0.24%)<br>
TESS sectors=[14 26 40 41 53 54 55 74 75 80 81 82]<br>

Kepler-398 (nplanets=3, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-398)):<br>
Second Order: 5:3 | P=(6.83,4.08) n=(1,2) (delta=0.47%) 5:3 | P=(11.42,6.83) n=(2,3) (delta=0.25%)
TESS sectors=[14 40 41 54 55 74 75 81 82]<br>

K2-21 (nplanets=2, [Dressing+2017](https://exoplanetarchive.ipac.caltech.edu/overview/K2-21)):<br>
Second Order: 5:3 | P=(15.50,9.33) n=(1,2) (delta=0.26%)
TESS sectors=[42]<br>

Kepler-342 (nplanets=4, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-342), known TTV):<br>
First Order: 3:2 | P=(39.46,26.23) n=(3,4) (delta=0.27%)<br>
Second Order: 6:4 | P=(39.46,26.23) n=(3,4) (delta=0.27%)
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

TOI-2076 (nplanets=3, [Osborn+2022](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-2076), known TTV):<br>
Second Order: 5:3 | P=(35.13,21.02) n=(2,3) (delta=0.28%)
TESS sectors=[16 23 50 77]<br>


Kepler-102 (nplanets=5, [Marcy+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-102)):<br>
First Order: 4:3 | P=(7.07,5.29) n=(1,2) (delta=0.31%)<br>
Second Order: 8:6 | P=(7.07,5.29) n=(1,2) (delta=0.31%)
TESS sectors=[14 26 40 41 53 54 55 74 75 80 81 82]<br>

Kepler-191 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-191)):<br>
Second Order: 5:3 | P=(9.94,5.95) n=(1,2) (delta=0.32%)
TESS sectors=[15 40 41 55 74 75 81]<br>

Kepler-384 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-384)):<br>
First Order: 2:1 | P=(45.35,22.60) n=(1,2) (delta=0.34%)<br>
Second Order: 4:2 | P=(45.35,22.60) n=(1,2) (delta=0.34%)
TESS sectors=[14 26 40 41 53 55 74 75 81 82]<br>

Kepler-307 (nplanets=2, [Jontof_Hutter+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-307), known TTV):<br>
First Order: 5:4 | P=(13.07,10.42) n=(1,2) (delta=0.36%)<br>
TESS sectors=[14 15 54 55 74 75 81 82]<br>

Kepler-26 (nplanets=4, [Jontof_Hutter+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-26), known TTV):<br>
Second Order: 7:5 | P=(17.26,12.28) n=(2,3) (delta=0.37%)
TESS sectors=[14 26 40 41 53 55 74 75 80 81 82]<br>

Kepler-262 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-262)):<br>
Second Order: 5:3 | P=(21.85,13.06) n=(1,2) (delta=0.39%)
TESS sectors=[14 40 41 54 55 74 75 81]<br>

Kepler-1641 (nplanets=2, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1641)):<br>
Second Order: 5:3 | P=(32.66,19.67) n=(1,2) (delta=0.40%)
TESS sectors=[14 15 54 55 74 75 81 82]<br>

Kepler-33 (nplanets=5, [Lissauer+2012](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-33), known TTV):<br>
Second Order: 5:3 | P=(21.78,13.18) n=(2,3) (delta=0.84%) 9:7 | P=(41.03,31.78) n=(4,5) (delta=0.40%)
TESS sectors=[14 15 40 41 53 54 55 74 75 80 81 82]<br>

Kepler-445 (nplanets=3, [Muirhead+2015](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-445)):<br>
Second Order: 5:3 | P=(8.15,4.87) n=(2,3) (delta=0.42%)
TESS sectors=[14 15 41 54 55 56 74 75 81 82]<br>

Kepler-85 (nplanets=4, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-85), known TTV):<br>
First Order: 3:2 | P=(12.51,8.31) n=(1,2) (delta=0.43%)<br>
Second Order: 6:4 | P=(12.51,8.31) n=(1,2) (delta=0.43%) 7:5 | P=(25.22,17.91) n=(3,4) (delta=0.55%)
TESS sectors=[15 40 41 55 74 75 80 81]<br>

TRAPPIST-1 (nplanets=7, [Agol+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TRAPPIST-1), known TTV):<br>
First Order: 3:2 | P=(6.10,4.05) n=(3,4) (delta=0.45%) 3:2 | P=(9.21,6.10) n=(4,5) (delta=0.61%) 4:3 | P=(12.35,9.21) n=(5,6) (delta=0.62%)<br>
Second Order: 5:3 | P=(4.05,2.42) n=(2,3) (delta=0.31%) 6:4 | P=(6.10,4.05) n=(3,4) (delta=0.45%) 6:4 | P=(9.21,6.10) n=(4,5) (delta=0.61%) 8:6 | P=(12.35,9.21) n=(5,6) (delta=0.62%)
TESS sectors=[70]<br>

Kepler-54 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-54), known TTV):<br>
First Order: 3:2 | P=(12.07,8.01) n=(1,2) (delta=0.46%)<br>
Second Order: 6:4 | P=(12.07,8.01) n=(1,2) (delta=0.46%)
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

Kepler-431 (nplanets=3, [Everett+2015](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-431)):<br>
Second Order: 9:7 | P=(8.70,6.80) n=(1,2) (delta=0.50%)
TESS sectors=[14 26 40 41 53 74 80 81]<br>

TOI-270 (nplanets=3, [Van_Eylen+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-270)):<br>
First Order: 2:1 | P=(11.38,5.66) n=(2,3) (delta=0.52%)<br>
Second Order: 4:2 | P=(11.38,5.66) n=(2,3) (delta=0.52%)
TESS sectors=[ 3  4  5 30 32]<br>

K2-63 (nplanets=2, [Crossfield+2016](https://exoplanetarchive.ipac.caltech.edu/overview/K2-63)):<br>
First Order: 5:4 | P=(25.46,20.26) n=(1,2) (delta=0.53%)<br>
TESS sectors=[42]<br>


Kepler-177 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-177), known TTV):<br>
First Order: 4:3 | P=(49.41,36.86) n=(1,2) (delta=0.53%)<br>
Second Order: 8:6 | P=(49.41,36.86) n=(1,2) (delta=0.53%)
TESS sectors=[14 26 40 41 53 55 74 75 80 81 82]<br>

Kepler-55 (nplanets=5, [Steffen+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-55), known TTV):<br>
First Order: 3:2 | P=(42.15,27.95) n=(4,5) (delta=0.55%)<br>
Second Order: 6:4 | P=(42.15,27.95) n=(4,5) (delta=0.55%)
TESS sectors=[14 26 40 41 53 55 74 75 80 81 82]<br>

KOI-351 (nplanets=8, [Shallue&Vanderburg_2018](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-351)):<br>
First Order: 5:4 | P=(8.72,7.01) n=(1,2) (delta=0.47%)<br>
Second Order: 5:3 | P=(14.45,8.72) n=(2,3) (delta=0.57%)
TESS sectors=[14 15 26 40 41 55 74 75 80 81 82]<br>


Kepler-271 (nplanets=3, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-271)):<br>
Second Order: 7:5 | P=(7.41,5.25) n=(1,2) (delta=0.83%) 7:5 | P=(10.44,7.41) n=(2,3) (delta=0.58%)
TESS sectors=[14 26 40 41 53 54 55 74 75 80 81]<br>

K2-266 (nplanets=4, [Rodriguez+2018](https://exoplanetarchive.ipac.caltech.edu/overview/K2-266), known TTV):<br>
First Order: 4:3 | P=(19.48,14.70) n=(3,4) (delta=0.58%)<br>
Second Order: 8:6 | P=(19.48,14.70) n=(3,4) (delta=0.58%)
TESS sectors=[35 45 46 62 72]<br>


TOI-216 (nplanets=2, [Dawson+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-216), known TTV):<br>
First Order: 2:1 | P=(34.53,17.16) n=(1,2) (delta=0.59%)<br>
Second Order: 4:2 | P=(34.53,17.16) n=(1,2) (delta=0.59%)
TESS sectors=[ 1  2  3  4  5  6  7  8  9 11 12 13 27 28 29 30 31 32 33 34 35 36 37 38
 39 61 62 63 64 65 66 67 68 69]<br>

Kepler-208 (nplanets=4, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-208)):<br>
First Order: 3:2 | P=(11.13,7.47) n=(2,3) (delta=0.61%)<br>
Second Order: 6:4 | P=(11.13,7.47) n=(2,3) (delta=0.61%)
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

K2-72 (nplanets=4, [Dressing+2017](https://exoplanetarchive.ipac.caltech.edu/overview/K2-72)):<br>
Second Order: 7:5 | P=(7.76,5.58) n=(1,2) (delta=0.61%)
TESS sectors=[42]<br>

Kepler-168 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-168)):<br>
Second Order: 3:1 | P=(13.19,4.43) n=(1,2) (delta=0.62%)
TESS sectors=[14 40 41 54 55 81 82]<br>


Kepler-385 (nplanets=3, [Armstrong+2021](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-385)):<br>
First Order: 3:2 | P=(15.16,10.04) n=(1,2) (delta=0.65%)<br>
Second Order: 6:4 | P=(15.16,10.04) n=(1,2) (delta=0.65%)
TESS sectors=[14 15 40 41 54 55 56 74 75 76 81 82 83]<br>

Kepler-176 (nplanets=4, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-176), known TTV):<br>
First Order: 2:1 | P=(25.75,12.76) n=(2,3) (delta=0.91%) 2:1 | P=(51.17,25.75) n=(3,4) (delta=0.66%)<br>
Second Order: 4:2 | P=(25.75,12.76) n=(2,3) (delta=0.91%) 4:2 | P=(51.17,25.75) n=(3,4) (delta=0.66%)
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

K2-148 (nplanets=3, [Hirano+2018](https://exoplanetarchive.ipac.caltech.edu/overview/K2-148)):<br>
Second Order: 7:5 | P=(9.76,6.92) n=(2,3) (delta=0.68%)
TESS sectors=[42 43]<br>

Kepler-254 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-254)):<br>
First Order: 3:2 | P=(18.75,12.41) n=(2,3) (delta=0.69%)<br>
Second Order: 6:4 | P=(18.75,12.41) n=(2,3) (delta=0.69%)
TESS sectors=[14 15 40 41 53 54 55 74 75 80 81 82]<br>

Kepler-1542 (nplanets=4, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1542)):<br>
First Order: 7:6 | P=(5.99,5.10) n=(3,4) (delta=0.70%)<br>
Second Order: 9:7 | P=(5.10,3.95) n=(2,3) (delta=0.42%)
TESS sectors=[14 26 40 41 53 54 55 74 75 80 81]<br>

TOI-1749 (nplanets=3, [Fukui+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-1749)):<br>
First Order: 2:1 | P=(9.05,4.49) n=(2,3) (delta=0.71%)<br>
Second Order: 4:2 | P=(9.05,4.49) n=(2,3) (delta=0.71%)
TESS sectors=[14 15 16 17 18 19 20 21 23 24 25 26 40 41 47 48 49 50 51 52 53 54 55 57
 58 59 60 74 77 78 79 80 81 82]<br>

Kepler-804 (nplanets=2, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-804)):<br>
First Order: 3:2 | P=(14.37,9.65) n=(1,2) (delta=0.71%)<br>
Second Order: 6:4 | P=(14.37,9.65) n=(1,2) (delta=0.71%)
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

Kepler-373 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-373)):<br>
Second Order: 3:1 | P=(16.73,5.54) n=(1,2) (delta=0.72%)
TESS sectors=[14 26 41 53 54 55 56 74 75 80 81 82]<br>

Kepler-1130 (nplanets=3, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1130)):<br>
Second Order: 9:7 | P=(5.45,4.27) n=(2,3) (delta=0.73%)
TESS sectors=[14 26 40 41 53 54 55 74 75 80 82]<br>

Kepler-339 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-339)):<br>
First Order: 3:2 | P=(10.56,6.99) n=(2,3) (delta=0.73%)<br>
Second Order: 7:5 | P=(6.99,4.98) n=(1,2) (delta=0.28%) 6:4 | P=(10.56,6.99) n=(2,3) (delta=0.73%)
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

Kepler-127 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-127), known TTV):<br>
Second Order: 5:3 | P=(48.63,29.39) n=(2,3) (delta=0.73%)
TESS sectors=[14 26 40 41 53 55 74 75 80 81 82]<br>

TOI-561 (nplanets=5, [Weiss+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-561)):<br>
First Order: 3:2 | P=(16.29,10.78) n=(2,3) (delta=0.73%)<br>
Second Order: 6:4 | P=(16.29,10.78) n=(2,3) (delta=0.73%) 3:1 | P=(77.23,25.62) n=(4,5) (delta=0.48%)
TESS sectors=[ 8 35 45 46 72]<br>

Kepler-305 (nplanets=4, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-305), known TTV):<br>
First Order: 3:2 | P=(8.29,5.49) n=(2,3) (delta=0.74%) 2:1 | P=(16.74,8.29) n=(3,4) (delta=0.94%)<br>
Second Order: 6:4 | P=(8.29,5.49) n=(2,3) (delta=0.74%) 4:2 | P=(16.74,8.29) n=(3,4) (delta=0.94%)
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

Kepler-128 (nplanets=2, [Hadden&Lithwick_2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-128), known TTV):<br>
First Order: 3:2 | P=(22.80,15.09) n=(1,2) (delta=0.75%)<br>
Second Order: 6:4 | P=(22.80,15.09) n=(1,2) (delta=0.75%)
TESS sectors=[14 26 40 41 53 54 74 80 81]<br>

Kepler-11 (nplanets=6, [Lissauer+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-11), known TTV):<br>
Second Order: 7:5 | P=(32.00,22.68) n=(3,4) (delta=0.76%)
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

Kepler-23 (nplanets=3, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-23), known TTV):<br>
First Order: 3:2 | P=(10.74,7.11) n=(1,2) (delta=0.76%)<br>
Second Order: 6:4 | P=(10.74,7.11) n=(1,2) (delta=0.76%)
TESS sectors=[14 15 40 41 54 55 56 74 75 76 81 82 83]<br>

Kepler-186 (nplanets=5, [Torres+2015](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-186)):<br>
Second Order: 5:3 | P=(22.41,13.34) n=(3,4) (delta=0.76%)
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

Kepler-80 (nplanets=6, [Shallue&Vanderburg_2018](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-80), known TTV):<br>
First Order: 3:2 | P=(4.64,3.07) n=(2,3) (delta=0.79%)<br>
Second Order: 6:4 | P=(4.64,3.07) n=(2,3) (delta=0.79%)
TESS sectors=[14 15 41 54 55 81 82]<br>

K2-80 (nplanets=3, [Mayo+2018](https://exoplanetarchive.ipac.caltech.edu/overview/K2-80)):<br>
First Order: 3:2 | P=(28.87,19.09) n=(2,3) (delta=0.80%)<br>
Second Order: 6:4 | P=(28.87,19.09) n=(2,3) (delta=0.80%)
TESS sectors=[ 5 32 42 43 44 70 71]<br>

KOI-7892 (nplanets=3, [Wang+2015](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-7892)):<br>
Second Order: 3:1 | P=(31.81,10.69) n=(1,2) (delta=0.82%)
TESS sectors=[14 26 40 41 53 54 74 75]<br>

Kepler-402 (nplanets=4, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-402)):<br>
First Order: 5:4 | P=(11.24,8.92) n=(3,4) (delta=0.82%)<br>
TESS sectors=[14 40 41 53 54 55 74 75 80 81]<br>


K2-285 (nplanets=4, [Palle+2019](https://exoplanetarchive.ipac.caltech.edu/overview/K2-285)):<br>
Second Order: 7:5 | P=(14.76,10.46) n=(3,4) (delta=0.85%)
TESS sectors=[42 70]<br>

K2-138 (nplanets=6, [Lopez+2019](https://exoplanetarchive.ipac.caltech.edu/overview/K2-138)):<br>
First Order: 3:2 | P=(3.56,2.35) n=(1,2) (delta=0.86%)<br>
Second Order: 6:4 | P=(3.56,2.35) n=(1,2) (delta=0.86%)
TESS sectors=[42 70]<br>

Kepler-65 (nplanets=3, [Chaplin+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-65), known TTV):<br>
Second Order: 7:5 | P=(8.13,5.86) n=(2,3) (delta=0.89%)
TESS sectors=[14 40 41 54 55 74 75 80 81 82]<br>

Kepler-200 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-200)):<br>
First Order: 6:5 | P=(10.22,8.59) n=(1,2) (delta=0.89%)<br>
TESS sectors=[14 26 40 41 53 54 74 80 81]<br>

TOI-700 (nplanets=4, [Gilbert+2023](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-700)):<br>
First Order: 4:3 | P=(37.42,27.81) n=(3,4) (delta=0.93%)<br>
Second Order: 8:6 | P=(37.42,27.81) n=(3,4) (delta=0.93%)
TESS sectors=[ 1  3  4  5  6  7  8  9 10 11 13 27 28 30 31 33 34 35 36 37 38 61 62 63
 64 65 66 68 69]<br>


Kepler-24 (nplanets=4, [Ford+2012](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-24), known TTV):<br>
First Order: 3:2 | P=(12.33,8.15) n=(2,3) (delta=0.95%)<br>
Second Order: 6:4 | P=(12.33,8.15) n=(2,3) (delta=0.95%)
TESS sectors=[14 40 41 54 55 74 75 81]<br>

Kepler-968 (nplanets=3, [Jontof_Hutter+2021](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-968)):<br>
First Order: 4:3 | P=(7.68,5.71) n=(2,3) (delta=0.95%)<br>
Second Order: 8:6 | P=(7.68,5.71) n=(2,3) (delta=0.95%)
TESS sectors=[14 15 26 40 41 53 54 55 74 75 80 82]<br>

Kepler-125 (nplanets=2, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-125)):<br>
Second Order: 7:5 | P=(5.77,4.16) n=(1,2) (delta=0.96%)
TESS sectors=[14 15 41 54 56 74 75 76 81 82]<br>

K2-146 (nplanets=2, [Hamann+2019](https://exoplanetarchive.ipac.caltech.edu/overview/K2-146), known TTV):<br>
First Order: 3:2 | P=(4.00,2.64) n=(1,2) (delta=0.96%)<br>
Second Order: 6:4 | P=(4.00,2.64) n=(1,2) (delta=0.96%)
TESS sectors=[72]<br>

Kepler-197 (nplanets=4, [Rowe+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-197)):<br>

In [20]:
np.savetxt('../data/name_resonance_from_nexsci.txt', res3.name.tolist(), fmt="%s")
np.savetxt('../data/name_resonance_from_nexsci_1st_order.txt', ttv_1st_order, fmt="%s")
np.savetxt('../data/name_resonance_from_nexsci_2nd_order.txt', ttv_2nd_order, fmt="%s")

In [21]:
s = pd.Series(ttv_1st_order)
s = s[s.isin(host_multis_w_prot)]
for i in s:
    d = df3[df3.hostname==i].reset_index(drop=True)
    print(f"{d.hostname.unique()}: Prot={d.st_rotp.unique()} d")
    print(d[['pl_name','pl_orbper']])

['HD 23472']: Prot=[40.1] d
      pl_name  pl_orbper
0  HD 23472 b  17.667087
1  HD 23472 c  29.797490
2  HD 23472 e   7.907540
3  HD 23472 f  12.162184
4  HD 23472 d   3.976640
['V1298 Tau']: Prot=[2.87] d
       pl_name  pl_orbper
0  V1298 Tau c    8.24958
1  V1298 Tau b   24.13960
2  V1298 Tau e   60.00000
3  V1298 Tau d   12.40320
['L 98-59']: Prot=[80.9] d
     pl_name  pl_orbper
0  L 98-59 b   2.253114
1  L 98-59 c   3.690678
2  L 98-59 d   7.450724
['HD 109833']: Prot=[5.11] d
       pl_name  pl_orbper
0  HD 109833 b   9.188526
1  HD 109833 c  13.900148

## literature search for TTV

!pip install arxiv

In [22]:
import arxiv

search = arxiv.Search(
  query = "abs:ttv",
  max_results = 1_000,
  sort_by = arxiv.SortCriterion.SubmittedDate
)

titles = [r.title for r in search.results()]

In [23]:
known_ttvs = []
for title in titles:
    for word in title.split():
#         print(word)
        if word[-1]=='b':
            word = word[:-2]
        if word in ttv_1st_order:
            known_ttvs.append(word)
set(known_ttvs)

{'K2-138',
 'K2-146',
 'K2-19',
 'KOI-1599',
 'Kepler-1705',
 'Kepler-1972',
 'Kepler-59',
 'Kepler-60',
 'Kepler-80',
 'TOI-216',
 'TRAPPIST-1'}