In [1]:
import os
import sys

# assert os.environ['CONDA_DEFAULT_ENV']=='ttv'
assert sys.executable=="/ut3/jerome/miniconda3/envs/ttv/bin/python"

Naming aliases:


https://exoplanetarchive.ipac.caltech.edu/cgi-bin/Lookup/nph-aliaslookup.py?objname=Gaia DR2 2127941757262806656 b

# NExSci

In [2]:
import sys
sys.path.insert(0, '../code')
from utils import *

In [3]:
df3_orig = get_nexsci(clobber=False) #set to True when updating
df3_orig.tail()

Column definitions:  https://exoplanetarchive.ipac.caltech.edu/docs/API_PS_columns.html

/mnt_ut3/raid_ut3/home/jerome/github/research/project/young_ttvs/notebooks/../code/utils.py:260: DtypeWarning: Columns (50,65,183,206,211,237,242) have mixed types. Specify dtype option on import or set low_memory=False.
  df_nexsci = pd.read_csv(fp)

Loaded:  ../data/nexsci_ps.csv

,pl_name,pl_letter,hostname,hd_name,hip_name,tic_id,gaia_id,default_flag,pl_refname,sy_refname,...,sy_jmagstr,sy_hmag,sy_hmagerr1,sy_hmagerr2,sy_hmagstr,sy_kmag,sy_kmagerr1,sy_kmagerr2,sky_coord.ra,sky_coord.dec
32865,TOI-237 b,b,TOI-237,NaN,NaN,TIC 305048087,Gaia DR2 2329387852426700800,0,<a refstr=EXOFOP_TESS_TOI href=https://exofop....,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,11.740&plusmn;0.021,11.190,0.022,-0.022,11.190&plusmn;0.022,10.896,0.025,-0.025,353.243538,-29.416487
32866,HD 1397 b,b,HD 1397,HD 1397,HIP 1419,TIC 394137592,Gaia DR2 4707634458245031552,0,<a refstr=EXOFOP_TESS_TOI href=https://exofop....,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,6.442&plusmn;0.020,6.090,0.049,-0.049,6.090&plusmn;0.049,5.988,0.018,-0.018,4.447163,-66.358929
32867,OGLE2-TR-L9 b,b,OGLE2-TR-L9,NaN,NaN,TIC 466840711,Gaia DR2 5337273743301313536,1,<a refstr=SNELLEN_ET_AL__2009 href=https://ui....,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,13.508&plusmn;0.032,13.246,0.035,-0.035,13.246&plusmn;0.035,13.117,0.037,-0.037,166.979879,-61.146250
32868,CoRoT-12 b,b,CoRoT-12,NaN,NaN,TIC 280210963,Gaia DR2 3107255598526406912,0,<a refstr=BONOMO_ET_AL__2017 href=https://ui.a...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,14.024&plusmn;0.032,13.630,0.031,-0.031,13.630&plusmn;0.031,13.557,0.042,-0.042,100.765687,-1.296444
32869,CoRoT-20 b,b,CoRoT-20,NaN,NaN,TIC 234825296,Gaia DR2 3120122805143587328,0,<a refstr=BONOMO_ET_AL__2017 href=https://ui.a...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,12.991&plusmn;0.026,12.652,0.027,-0.027,12.652&plusmn;0.027,12.513,0.029,-0.029,97.720425,0.226893

In [4]:
df3 = df3_orig[df3_orig['default_flag']==1]
df3.query("hostname=='V1298 Tau'")

,pl_name,pl_letter,hostname,hd_name,hip_name,tic_id,gaia_id,default_flag,pl_refname,sy_refname,...,sy_jmagstr,sy_hmag,sy_hmagerr1,sy_hmagerr2,sy_hmagstr,sy_kmag,sy_kmagerr1,sy_kmagerr2,sky_coord.ra,sky_coord.dec
31847,V1298 Tau d,d,V1298 Tau,NaN,NaN,TIC 15756231,Gaia DR2 51886335968692480,1,<a refstr=DAVID_ET_AL__2019 href=https://ui.ad...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,8.687&plusmn;0.023,8.191,0.023,-0.023,8.191&plusmn;0.023,8.094,0.021,-0.021,61.331654,20.157032
32101,V1298 Tau c,c,V1298 Tau,NaN,NaN,TIC 15756231,Gaia DR2 51886335968692480,1,<a refstr=DAVID_ET_AL__2019 href=https://ui.ad...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,8.687&plusmn;0.023,8.191,0.023,-0.023,8.191&plusmn;0.023,8.094,0.021,-0.021,61.331654,20.157032
32701,V1298 Tau e,e,V1298 Tau,NaN,NaN,TIC 15756231,Gaia DR2 51886335968692480,1,<a refstr=FINOCIETY_ET_AL__2023 href=https://u...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,8.687&plusmn;0.023,8.191,0.023,-0.023,8.191&plusmn;0.023,8.094,0.021,-0.021,61.331654,20.157032
32767,V1298 Tau b,b,V1298 Tau,NaN,NaN,TIC 15756231,Gaia DR2 51886335968692480,1,<a refstr=DAVID_ET_AL__2019 href=https://ui.ad...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,8.687&plusmn;0.023,8.191,0.023,-0.023,8.191&plusmn;0.023,8.094,0.021,-0.021,61.331654,20.157032

In [5]:
nsys = df3['hostname'].value_counts()
nsys

hostname
KOI-351        8
TRAPPIST-1     7
TOI-178        6
TOI-1136       6
Kepler-80      6
              ..
Kepler-1459    1
Kepler-1919    1
Kepler-977     1
Kepler-617     1
OGLE2-TR-L9    1
Name: count, Length: 3259, dtype: int64

In [6]:
host_multis = list(nsys[nsys>1].index)
print(len(host_multis))

683

In [12]:
multi_w_prot = df3[df3.hostname.isin(host_multis)]
host_multis_w_prot = multi_w_prot[multi_w_prot.st_rotp>0].hostname.unique()
host_multis_w_prot

array(['TOI-1224', 'HD 23472', 'TOI-431', 'LHS 1140', 'TOI-421',
       'Kepler-102', 'Kepler-411', 'HIP 67522', 'GJ 9827', 'TOI-1347',
       'L 98-59', 'TOI-5398', 'TOI-776', 'TOI-663', 'TOI-4010', 'TOI-286',
       'HD 15337', 'WASP-132', 'TOI-815', 'K2-185', 'EPIC 249893012',
       'K2-331', 'K2-36', 'K2-350', 'K2-155', 'TOI-2095', 'K2-240',
       'K2-268', 'TOI-451', 'K2-141', 'TOI-836', 'K2-352', 'TOI-1470',
       'TOI-904', 'TOI-2134', 'TOI-712', 'HD 63433', 'TOI-1246',
       'HD 260655', 'HIP 113103', 'TOI-1266', 'HD 73583', 'TOI-763',
       'TOI-1260', 'TOI-1468', 'HD 109833', 'LHS 1678', 'TOI-1450 A',
       'V1298 Tau', 'K2-264'], dtype=object)

!pip install tess-point

In [8]:
from tess_stars2px import tess_stars2px_function_entry

target = 'K2-384'
dd = df3[df3.hostname==target]
ra, dec, tic = dd.iloc[0][['ra','dec','tic_id']].values
ticid = int(tic.split()[-1])
outID, outEclipLong, outEclipLat, outSec, outCam, outCcd, \
            outColPix, outRowPix, scinfo = tess_stars2px_function_entry(
                    ticid, ra, dec)
outSec

array([ 3, 30, 42, 43, 70])

# multis with reported TTVs

* Science: Refinement of TTV model using new TESS data

In [9]:
idx = df3.ttv_flag.astype(bool)
known_ttvs = df3[idx]

In [14]:
idx = known_ttvs.hostname.isin(host_multis)
nexsci_ttvs_multis = known_ttvs[idx]

In [15]:
nexsci_ttvs_multis.to_csv('../data/nexsci_ttvs_multis.csv', index=False)

In [16]:
host_multis_ttv = nexsci_ttvs_multis.hostname.unique()
host_multis_ttv.shape

(154,)

In [17]:
hostname='TOI-1224'
dd = nexsci_ttvs_multis[nexsci_ttvs_multis['hostname']==hostname].sort_values(by='pl_orbper')
dd

,pl_name,pl_letter,hostname,hd_name,hip_name,tic_id,gaia_id,default_flag,pl_refname,sy_refname,...,sy_jmagstr,sy_hmag,sy_hmagerr1,sy_hmagerr2,sy_hmagstr,sy_kmag,sy_kmagerr1,sy_kmagerr2,sky_coord.ra,sky_coord.dec
43,TOI-1224 c,c,TOI-1224,NaN,NaN,TIC 299798795,Gaia DR2 4620009665047355520,1,<a refstr=THAO_ET_AL__2024 href=https://ui.ads...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,10.018&plusmn;0.023,9.405,0.024,-0.024,9.405&plusmn;0.024,9.134,0.019,-0.019,37.197836,-80.899105

In [20]:
show_known_ttvs = True

# check if observed by TESS
texts = []
for hostname in host_multis_ttv:    
    dd = nexsci_ttvs_multis[nexsci_ttvs_multis['hostname']==hostname].sort_values(by='pl_orbper')
    # make sure depth>1ppt
    if dd['pl_trandep'].any() or (dd['pl_trandep']>0.1).any():
            
        ra, dec, tic, Prot = dd.iloc[0][['ra','dec','tic_id','st_rotp']].values
        try:
            ticid = int(tic.split()[-1])
        except Exception as e:
            print(e)
            ticid = None     

        periods = dd["pl_orbper"].values
        Nplanets = len(periods)
        resonances_1st_order, delta1 = get_resonant_pairs(periods, order=1, tol=0.01);
    
        url = f"https://exoplanetarchive.ipac.caltech.edu/overview/{hostname.replace(' ','')}"
        refs = dd['pl_refname'].unique()
        ref = refs[-1].split()[1].split('=')[-1].replace('_ET_AL__', '+').title()
        ref = ref.replace('__Amp__', '&')

        msg = f"{hostname} (nplanets={Nplanets}, [{ref}]({url}), known TTV):<br>\n"
        
        show = False
        if len(resonances_1st_order)>=1:
            msg += f"First Order: {' '.join(resonances_1st_order)}<br>\n"
        if str(Prot)!='nan':
            msg+=f'Prot={Prot:.2f} d\n'
                        
        # check if observed by TESS
        if ticid is not None:
            outID, outEclipLong, outEclipLat, outSec, outCam, outCcd, \
                    outColPix, outRowPix, scinfo = tess_stars2px_function_entry(
                            ticid, ra, dec)
            if len(outSec)>0:
                msg += f"TESS sectors={outSec}<br>\n"
                
        print(msg)
        # break
        texts.append(msg)

Kepler-30 (nplanets=3, [Sanchis_Ojeda+2012](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-30), known TTV):<br>
TESS sectors=[14 26 40 41 53 54 74 80 81]<br>

Kepler-33 (nplanets=5, [Lissauer+2012](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-33), known TTV):<br>
TESS sectors=[14 15 40 41 53 54 55 74 75 80 81 82]<br>

Kepler-18 (nplanets=3, [Cochran+2011](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-18), known TTV):<br>
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

Kepler-111 (nplanets=2, [Dalba+2024](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-111), known TTV):<br>
TESS sectors=[15 40 41 54 74 75 81 82]<br>

Kepler-11 (nplanets=6, [Lissauer+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-11), known TTV):<br>
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

Kepler-177 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-177), known TTV):<br>
First Order: 4:3 | P=(36.86,49.41) (delta=0.53%)<br>
TESS sectors=[14 26 40 41 53 55 74 75 80 81 82]<br>

Kepler-130 (nplanets=2, [Wang+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-130), known TTV):<br>
TESS sectors=[14 40 41 54 55 74 75 80 81]<br>

Kepler-29 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-29), known TTV):<br>
TESS sectors=[14 15 41 54 56 74 75 76 81 82]<br>

KOI-1783 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-1783), known TTV):<br>
TESS sectors=[14 15 40 41 53 54 55 74 75 80 81 82]<br>

Kepler-31 (nplanets=2, [Fabrycky+2012](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-31), known TTV):<br>
TESS sectors=[14 15 40 74 75 81 82]<br>

Kepler-65 (nplanets=2, [Chaplin+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-65), known TTV):<br>
TESS sectors=[14 40 41 54 55 74 75 80 81 82]<br>

Kepler-79 (nplanets=4, [Jontof_Hutter+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-79), known TTV):<br>
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

Kepler-36 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-36), known TTV):<br>
First Order: 7:6 | P=(13.87,16.22) (delta=0.24%)<br>
TESS sectors=[14 15 40 41 54 55 74 75 80 81 82]<br>

Kepler-32 (nplanets=2, [Fabrycky+2012](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-32), known TTV):<br>
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

TOI-216 (nplanets=2, [Dawson+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-216), known TTV):<br>
First Order: 2:1 | P=(17.16,34.53) (delta=0.59%)<br>
TESS sectors=[ 1  2  3  4  5  6  7  8  9 11 12 13 27 28 29 30 31 32 33 34 35 36 37 38
 39 61 62 63 64 65 66 67 68 69]<br>

AU Mic (nplanets=1, [Wittrock+2023](https://exoplanetarchive.ipac.caltech.edu/overview/AUMic), known TTV):<br>
TESS sectors=[ 1 27]<br>

HD 108236 (nplanets=1, [Bonfanti+2021](https://exoplanetarchive.ipac.caltech.edu/overview/HD108236), known TTV):<br>
TESS sectors=[10 11 37]<br>

Kepler-50 (nplanets=2, [Chaplin+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-50), known TTV):<br>
First Order: 6:5 | P=(7.81,9.38) (delta=0.02%)<br>
TESS sectors=[26 40 41 53 54 55 74 75 80 81 82]<br>

TRAPPIST-1 (nplanets=7, [Agol+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TRAPPIST-1), known TTV):<br>
First Order: 3:2 | P=(4.05,6.10) (delta=0.45%) 3:2 | P=(6.10,9.21) (delta=0.61%) 4:3 | P=(9.21,12.35) (delta=0.62%)<br>
TESS sectors=[70]<br>

HD 28109 (nplanets=2, [Dransfield+2022](https://exoplanetarchive.ipac.caltech.edu/overview/HD28109), known TTV):<br>
First Order: 3:2 | P=(56.01,84.26) (delta=0.29%)<br>
TESS sectors=[ 1  2  3  4  5  6  7  8  9 10 11 12 13 27 28 29 30 31 33 34 35 36 37 38
 39 61 62 63 64 65 66 67 68 69]<br>

TOI-1266 (nplanets=2, [Cloutier+2024](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-1266), known TTV):<br>
Prot=44.60 d
TESS sectors=[14 15 21 22 41 48 49 75 76]<br>

K2-266 (nplanets=2, [Rodriguez+2018](https://exoplanetarchive.ipac.caltech.edu/overview/K2-266), known TTV):<br>
First Order: 4:3 | P=(14.70,19.48) (delta=0.58%)<br>
TESS sectors=[35 45 46 62 72]<br>

# single systems with reported TTVs

* Science: Discovery of new transiting planets; ephemeris recovery

In [26]:
idx = known_ttvs.hostname.isin(host_multis)
nexsci_ttv_single = known_ttvs[~idx]

In [27]:
nexsci_ttv_single.shape

(62, 356)

In [28]:
nexsci_ttv_single.to_csv('../data/nexsci_ttv_single.csv', index=False)

In [31]:
host_single_ttv = nexsci_ttv_single.hostname.unique()
host_single_ttv.shape

(62,)

In [32]:
nexsci_ttv_single.shape

(62, 356)

In [33]:
# check if observed by TESS
txts = []
for i,row in nexsci_ttv_single.iterrows():
    # make sure depth>1ppt
    if row['pl_trandep'] or row['pl_trandep']>0.1:
            
        hostname = row['hostname']
        ra, dec, tic, Prot = row[['ra','dec','tic_id','st_rotp']].values
        try:
            ticid = int(tic.split()[-1])
        except Exception as e:
            print(e)
            ticid = None
    
        url = f"https://exoplanetarchive.ipac.caltech.edu/overview/{hostname.replace(' ','')}"
        refs = row['pl_refname']
        ref = refs.split()[1].split('=')[-1].replace('_ET_AL__', '+').title()
        ref = ref.replace('__Amp__', '&')
        is_ttv = row.ttv_flag==1
        
        msg = f"{hostname} (nplanets=1, [{ref}]({url}), known TTV):<br>\n"
        if str(Prot)!='nan':
            msg+=f'Prot={Prot:.2f} d\n'
        if ticid is not None:
            outID, outEclipLong, outEclipLat, outSec, outCam, outCcd, \
                    outColPix, outRowPix, scinfo = tess_stars2px_function_entry(
                            ticid, ra, dec)
            if len(outSec)>0:
                msg += f"TESS sectors={outSec}<br>\n"
        print(msg)
        txts.append(msg)

TOI-199 (nplanets=1, [Hobson+2023](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-199), known TTV):<br>
TESS sectors=[ 1  2  3  4  5  6  7  8  9 10 11 12 13 27 29 30 31 32 33 34 35 36 37 39
 61 62 63 64 66 67 68 69]<br>

WASP-43 (nplanets=1, [Hellier+2011](https://exoplanetarchive.ipac.caltech.edu/overview/WASP-43), known TTV):<br>
TESS sectors=[ 9 35 62]<br>

Kepler-1624 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1624), known TTV):<br>
TESS sectors=[14 40 41 54 55 74 75 81]<br>

Kepler-852 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-852), known TTV):<br>
TESS sectors=[14 15 41 54 55 56 74 75 76 81 83]<br>

Kepler-540 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-540), known TTV):<br>
TESS sectors=[14 15 40 41 55 74 75 80 81]<br>

Kepler-1513 (nplanets=1, [Yahalomi+2023](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1513), known TTV):<br>
TESS sectors=[14 40 41 54 55 75 80 81]<br>

Kepler-952 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-952), known TTV):<br>
TESS sectors=[14 26 40 41 53 54 75 80 81]<br>

Kepler-539 (nplanets=1, [Mancini+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-539), known TTV):<br>
Prot=11.77 d
TESS sectors=[14 15 41 54 55 74 81 82]<br>

Kepler-1527 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1527), known TTV):<br>
TESS sectors=[14 15 41 55 74 75 81 82]<br>

Kepler-1040 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1040), known TTV):<br>
TESS sectors=[14 15 26 40 41 53 54 55 75 80 81 82]<br>

Kepler-672 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-672), known TTV):<br>
TESS sectors=[14 15 40 54 55 56 74 75 81 82]<br>

Kepler-1638 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1638), known TTV):<br>
TESS sectors=[14 15 40 41 54 55 56 74 75 81 82]<br>

Kepler-1593 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1593), known TTV):<br>
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

Kepler-410 A (nplanets=1, [Van_Eylen+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-410A), known TTV):<br>
TESS sectors=[14 26 40 41 53 54 55 74 75 80 82]<br>

Kepler-1036 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1036), known TTV):<br>
TESS sectors=[14 15 40 41 54 55 56 74 75 76 81 82 83]<br>

Kepler-412 (nplanets=1, [Esteves+2015](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-412), known TTV):<br>
TESS sectors=[14 26 40 41 53 55 74 75 80 81 82]<br>

Kepler-827 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-827), known TTV):<br>
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

TOI-4562 (nplanets=1, [Fermiano+2024](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-4562), known TTV):<br>
Prot=3.86 d
TESS sectors=[ 1  2  3  4  5  6  7  8 10 11 12 13 27 28 29 30 31 32 33 34 35 36 37 38
 39 61 62 63 64 65 66 67 68 69]<br>

Kepler-19 (nplanets=1, [Bonomo+2023](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-19), known TTV):<br>
TESS sectors=[14 40 41 54 55 74 81]<br>

Kepler-509 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-509), known TTV):<br>
TESS sectors=[14 15 40 41 54 55 74 75 80 81 82]<br>

KOI-142 (nplanets=1, [Weiss+2020](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-142), known TTV):<br>
TESS sectors=[14 40 41 54 55 74 75 81 82]<br>

KOI-984 (nplanets=1, [Sun+2022](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-984), known TTV):<br>
TESS sectors=[14 40 41 54 74 75 81]<br>

Kepler-1184 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1184), known TTV):<br>
TESS sectors=[14 15 40 41 54 55 74 75 80 82]<br>

Kepler-795 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-795), known TTV):<br>
TESS sectors=[14 40 41 54 55 74 75]<br>

Kepler-1453 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1453), known TTV):<br>
TESS sectors=[14 15 26 40 41 53 54 55 74 75 80 82]<br>

Kepler-419 (nplanets=1, [Dawson+2014](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-419), known TTV):<br>
TESS sectors=[14 15 40 41 54 55 56 74 75 81 82 83]<br>

Kepler-1185 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1185), known TTV):<br>
TESS sectors=[14 40 41 53 54 74 75 80 81]<br>

WASP-126 (nplanets=1, [Pearson_2019](https://exoplanetarchive.ipac.caltech.edu/overview/WASP-126), known TTV):<br>
TESS sectors=[ 1  2  3  4  5  6  7  8  9 10 11 12 13 27 28 29 30 31 32 33 34 36 37 38
 39 61 63 64 65 66 67 68 69]<br>

HAT-P-13 (nplanets=1, [Winn+2010](https://exoplanetarchive.ipac.caltech.edu/overview/HAT-P-13), known TTV):<br>
TESS sectors=[47]<br>

Kepler-1552 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1552), known TTV):<br>
TESS sectors=[14 40 41 54 55 74 75 81 82]<br>

Kepler-39 (nplanets=1, [Bonomo+2015](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-39), known TTV):<br>
TESS sectors=[14 15 41 55 74 75 81 82]<br>

Kepler-1524 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1524), known TTV):<br>
TESS sectors=[40 41 54 55 81 82]<br>

Kepler-1097 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1097), known TTV):<br>
TESS sectors=[14 26 40 41 53 54 74 80 81]<br>

Kepler-34 (nplanets=1, [Welsh+2012](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-34), known TTV):<br>
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

Kepler-16 (nplanets=1, [Doyle+2011](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-16), known TTV):<br>
TESS sectors=[14 15 26 40 41 53 54 55 56 73 74 75 76 80 81 82 83]<br>

Kepler-797 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-797), known TTV):<br>
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

Qatar-1 (nplanets=1, [Collins+2017](https://exoplanetarchive.ipac.caltech.edu/overview/Qatar-1), known TTV):<br>
TESS sectors=[15 16 17 18 21 24 25 41 48 51 55 56 57 58 59 75 76 77 78 82 83]<br>

WASP-18 (nplanets=1, [Cort_Eacute_S_Zuleta+2020](https://exoplanetarchive.ipac.caltech.edu/overview/WASP-18), known TTV):<br>
TESS sectors=[ 2  3 29 30 69]<br>

K2-184 (nplanets=1, [Castro_Gonz_Aacute_Lez+2022](https://exoplanetarchive.ipac.caltech.edu/overview/K2-184), known TTV):<br>
TESS sectors=[44 45 46 72]<br>

Kepler-765 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-765), known TTV):<br>
TESS sectors=[14 26 40 41 53 54 55 75 80 81 82]<br>

Kepler-35 (nplanets=1, [Welsh+2012](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-35), known TTV):<br>
TESS sectors=[14 15 40 41 54 55 74 75 81 82]<br>

KELT-19 A (nplanets=1, [Siverd+2018](https://exoplanetarchive.ipac.caltech.edu/overview/KELT-19A), known TTV):<br>
TESS sectors=[ 7 33]<br>

Kepler-1515 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1515), known TTV):<br>
TESS sectors=[14 15 40 41 54 55 74 75 80 81 82]<br>

K2-342 (nplanets=1, [De_Leon+2021](https://exoplanetarchive.ipac.caltech.edu/overview/K2-342), known TTV):<br>
TESS sectors=[44 45 46 72]<br>

KOI-13 (nplanets=1, [Esteves+2015](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-13), known TTV):<br>
TESS sectors=[14 15 26 40 41 53 54 55 74 75 80 82]<br>

KOI-12 (nplanets=1, [Masuda_2017](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-12), known TTV):<br>
TESS sectors=[14 15 54 55 74 81 82]<br>

KOI-217 (nplanets=1, [Howell+2010](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-217), known TTV):<br>
TESS sectors=[14 15 40 41 54 74 75 81 82]<br>

Kepler-725 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-725), known TTV):<br>
TESS sectors=[14 26 40 41 53 54 55 75 82]<br>

Kepler-17 (nplanets=1, [Desert+2011](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-17), known TTV):<br>
TESS sectors=[14 15 41 54 56 74 75 76 81 82 83]<br>

Kepler-1389 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1389), known TTV):<br>
TESS sectors=[14 26 40 41 53 55 74 75 81 82]<br>

Kepler-591 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-591), known TTV):<br>
TESS sectors=[14 40 41 53 54 55 74 75 80 82]<br>

Kepler-966 (nplanets=1, [Morton+2016](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-966), known TTV):<br>
TESS sectors=[14 15 41 54 55 56 74 76 81 82 83]<br>

TOI-2202 (nplanets=1, [Trifonov+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-2202), known TTV):<br>
TESS sectors=[ 1  2  6  9 13 27 28 29 36 39 62 63 66 67 68 69]<br>

TOI-1338 A (nplanets=1, [Wang&Liu_2024](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-1338A), known TTV):<br>
TESS sectors=[ 1  2  3  4  5  6  7  8  9 10 11 12 27 28 29 30 31 32 34 35 36 37 38 39
 61 62 63 64 65 66 67 68 69]<br>

CoRoT-2 (nplanets=1, [Gillon+2010](https://exoplanetarchive.ipac.caltech.edu/overview/CoRoT-2), known TTV):<br>
TESS sectors=[54 81]<br>

WASP-148 (nplanets=1, [Almenara+2022](https://exoplanetarchive.ipac.caltech.edu/overview/WASP-148), known TTV):<br>
TESS sectors=[24 25 26 51 52 78 79]<br>

TOI-2447 (nplanets=1, [Gill+2024](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-2447), known TTV):<br>
Prot=13.00 d
TESS sectors=[ 5 31 32]<br>

TOI-1408 (nplanets=1, [Korth+2024](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-1408), known TTV):<br>
Prot=7.91 d
TESS sectors=[16 17 18 19 24 25 52 57 58 59 73 76 77 78 79]<br>

TrES-3 (nplanets=1, [Sozzetti+2009](https://exoplanetarchive.ipac.caltech.edu/overview/TrES-3), known TTV):<br>
TESS sectors=[25 26 26 40 52 53 79 80]<br>

CoRoT-35 (nplanets=1, [Sebastian+2022](https://exoplanetarchive.ipac.caltech.edu/overview/CoRoT-35), known TTV):<br>
TESS sectors=[54]<br>

TOI-2180 (nplanets=1, [Dalba+2022](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-2180), known TTV):<br>
TESS sectors=[14 15 16 17 18 19 20 21 22 23 24 25 26 40 41 48 49 50 51 52 53 54 55 56
 57 58 59 60 73 74 75 77 78 79 80 81 82 83]<br>

TOI-1221 (nplanets=1, [Mann+2023](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-1221), known TTV):<br>
TESS sectors=[ 1  2  3  4  5  6  7  8  9 10 11 12 13 27 28 29 30 31 32 33 34 35 37 38
 39 61 62 63 64 65 66 67 68 69]<br>

import lightkurve as lk

alias = get_name_aliases(target, key='epic')
res=lk.search_lightcurve(alias, mission='tess', author='spoc')
res

# multi-planet systems near MMR

* Science: Discover new TTV systems

In [34]:
show_known_ttvs = True

ttv_1st_order = []       # commensurability in 1 planet pair 
ttv_2nd_order = []
ttv_chain = []           # more than 1 planet pair
deltas1 = []
deltas2 = []
texts = []
for hostname in host_multis:
    dd = df3[df3['hostname']==hostname].sort_values(by='pl_orbper')
    # make sure depth>1ppt
    if dd['pl_trandep'].any() or (dd['pl_trandep']>0.1).any():
            
            ra, dec, tic = dd.iloc[0][['ra','dec','tic_id']].values
            try:
                ticid = int(tic.split()[-1])
            except Exception as e:
                ticid = None
                    
            periods = dd["pl_orbper"].values
            Nplanets = len(periods)
            
            resonances_1st_order, delta1 = get_resonant_pairs(periods, order=1, tol=0.01);
            resonances_2nd_order, delta2 = get_resonant_pairs(periods, order=2, tol=0.01);
            
            Prot = dd['st_rotp'].unique()[0]
        #     url = dd.iloc[-1]['pl_refname'].split()[2].split('=')[-1]
            url = f"https://exoplanetarchive.ipac.caltech.edu/overview/{hostname}"
            refs = dd['pl_refname'].unique()
            ref = refs[-1].split()[1].split('=')[-1].replace('_ET_AL__', '+').title()
            ref = ref.replace('__Amp__', '&')
            
            msg = f"{hostname} (nplanets={Nplanets}, [{ref}]({url})):<br>\n"
            is_ttv = dd.ttv_flag.sum()>=1
            if show_known_ttvs:
                flag = ', known TTV' if is_ttv else ''
                msg = f"{hostname} (nplanets={Nplanets}, [{ref}]({url}){flag}):<br>\n"
            
            show = False
            if len(resonances_1st_order)>=1:
                msg += f"First Order: {' '.join(resonances_1st_order)}<br>\n"
                ttv_1st_order.append(hostname)
                deltas1.append(min(delta1))
                if len(resonances_1st_order)>=2:
                    ttv_chain.append(hostname)
                    if str(Prot)!='nan':
                        msg+=f'Prot={Prot:.2f} d\n'
                show = True
            if len(resonances_2nd_order)>=1:
                if len(resonances_1st_order)>=1:
                    i = int(resonances_1st_order[0].split(':')[0])
                    j = int(resonances_2nd_order[0].split(':')[0])
                    if j/i!=2:
                        msg += f"Second Order: {' '.join(resonances_2nd_order)}<br>\n"
                        ttv_2nd_order.append(tic)
                        deltas2.append(min(delta2))
                        show = True
                        
                else:
                    msg += f"Second Order: {' '.join(resonances_2nd_order)}<br>\n"
                    ttv_2nd_order.append(tic)
                    deltas2.append(min(delta2))
                    show = True
                
            # check if observed by TESS
            if ticid is not None:
                outID, outEclipLong, outEclipLat, outSec, outCam, outCcd, \
                        outColPix, outRowPix, scinfo = tess_stars2px_function_entry(
                                ticid, ra, dec)
                if len(outSec)>0:
                    msg += f"TESS sectors={outSec}<br>\n"
                
            if show:
                print(msg)
                # break
                texts.append(msg)

TRAPPIST-1 (nplanets=7, [Agol+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TRAPPIST-1), known TTV):<br>
First Order: 3:2 | P=(4.05,6.10) (delta=0.45%) 3:2 | P=(6.10,9.21) (delta=0.61%) 4:3 | P=(9.21,12.35) (delta=0.62%)<br>
Second Order: 5:3 | P=(2.42,4.05) (delta=0.31%) 6:4 | P=(4.05,6.10) (delta=0.45%) 6:4 | P=(6.10,9.21) (delta=0.61%) 8:6 | P=(9.21,12.35) (delta=0.62%)<br>
TESS sectors=[70]<br>

Kepler-11 (nplanets=6, [Lissauer+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-11), known TTV):<br>
Second Order: 7:5 | P=(22.68,32.00) (delta=0.76%)<br>
TESS sectors=[14 15 41 54 55 74 75 81 82]<br>

Kepler-33 (nplanets=5, [Lissauer+2012](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-33), known TTV):<br>
Second Order: 5:3 | P=(13.18,21.78) (delta=0.84%) 9:7 | P=(31.78,41.03) (delta=0.40%)<br>
TESS sectors=[14 15 40 41 53 54 55 74 75 80 81 82]<br>

HD 108236 (nplanets=5, [Bonfanti+2021](https://exoplanetarchive.ipac.caltech.edu/overview/HD 108236), known TTV):<br>
First Order: 3:2 | P=(19.59,29.54) (delta=0.53%)<br>
TESS sectors=[10 11 37]<br>

K2-285 (nplanets=4, [Palle+2019](https://exoplanetarchive.ipac.caltech.edu/overview/K2-285)):<br>
Second Order: 7:5 | P=(10.46,14.76) (delta=0.85%)<br>
TESS sectors=[42 70]<br>

K2-266 (nplanets=4, [Rodriguez+2018](https://exoplanetarchive.ipac.caltech.edu/overview/K2-266), known TTV):<br>
First Order: 4:3 | P=(14.70,19.48) (delta=0.58%)<br>
TESS sectors=[35 45 46 62 72]<br>

Kepler-65 (nplanets=3, [Chaplin+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-65), known TTV):<br>
Second Order: 7:5 | P=(5.86,8.13) (delta=0.89%)<br>
TESS sectors=[14 40 41 54 55 74 75 80 81 82]<br>

KOI-7892 (nplanets=3, [Wang+2015](https://exoplanetarchive.ipac.caltech.edu/overview/KOI-7892)):<br>
Second Order: 3:1 | P=(10.69,31.81) (delta=0.82%)<br>
TESS sectors=[14 26 40 41 53 54 74 75]<br>

HR 858 (nplanets=3, [Vanderburg+2019](https://exoplanetarchive.ipac.caltech.edu/overview/HR 858)):<br>
Second Order: 5:3 | P=(3.59,5.97) (delta=0.06%)<br>
TESS sectors=[ 3  4 30 31]<br>

Kepler-297 (nplanets=3, [Q1_Q17_Dr25_Koi_Table](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-297), known TTV):<br>
First Order: 2:1 | P=(74.92,150.02) (delta=0.12%)<br>
TESS sectors=[14 15 40 41 53 54 55 74 75 80 81 82]<br>

Kepler-1669 (nplanets=3, [Armstrong+2021](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1669)):<br>
First Order: 2:1 | P=(4.73,9.51) (delta=0.56%)<br>
TESS sectors=[14 54 55 75 81 82]<br>

HD 28109 (nplanets=3, [Dransfield+2022](https://exoplanetarchive.ipac.caltech.edu/overview/HD 28109), known TTV):<br>
First Order: 3:2 | P=(56.01,84.26) (delta=0.29%)<br>
TESS sectors=[ 1  2  3  4  5  6  7  8  9 10 11 12 13 27 28 29 30 31 33 34 35 36 37 38
 39 61 62 63 64 65 66 67 68 69]<br>

Kepler-36 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-36), known TTV):<br>
First Order: 7:6 | P=(13.87,16.22) (delta=0.24%)<br>
TESS sectors=[14 15 40 41 54 55 74 75 80 81 82]<br>

TOI-216 (nplanets=2, [Dawson+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-216), known TTV):<br>
First Order: 2:1 | P=(17.16,34.53) (delta=0.59%)<br>
TESS sectors=[ 1  2  3  4  5  6  7  8  9 11 12 13 27 28 29 30 31 32 33 34 35 36 37 38
 39 61 62 63 64 65 66 67 68 69]<br>

Kepler-177 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-177), known TTV):<br>
First Order: 4:3 | P=(36.86,49.41) (delta=0.53%)<br>
TESS sectors=[14 26 40 41 53 55 74 75 80 81 82]<br>

Kepler-29 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-29), known TTV):<br>
Second Order: 9:7 | P=(10.34,13.29) (delta=0.06%)<br>
TESS sectors=[14 15 41 54 56 74 75 76 81 82]<br>

KIC 5437945 (nplanets=2, [Wang+2015](https://exoplanetarchive.ipac.caltech.edu/overview/KIC 5437945)):<br>
First Order: 2:1 | P=(220.13,440.78) (delta=0.12%)<br>
TESS sectors=[14 40 41 54 55 74 75 80 81]<br>

Kepler-50 (nplanets=2, [Chaplin+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-50), known TTV):<br>
First Order: 6:5 | P=(7.81,9.38) (delta=0.02%)<br>
TESS sectors=[26 40 41 53 54 55 74 75 80 81 82]<br>

In [35]:
len(ttv_1st_order), len(deltas1)

(11, 11)

In [36]:
import pandas as pd

s1 = pd.DataFrame(np.c_[ttv_1st_order,deltas1], columns=['name','delta_min'])
s1['1st order'] = True
s1.sort_values(by='delta_min')

           name              delta_min  1st order
10    Kepler-50  0.0001516792234022013       True
9   KIC 5437945  0.0011825462364023487       True
3    Kepler-297  0.0011924504355886878       True
6     Kepler-36   0.002411984208533946       True
5      HD 28109   0.002948437838585116       True
0    TRAPPIST-1  0.0044756779023313875       True
1     HD 108236   0.005312652740361301       True
8    Kepler-177   0.005340327345829232       True
4   Kepler-1669   0.005638804844434242       True
2        K2-266    0.00581751377832207       True
7       TOI-216   0.005945784357658468       True

In [37]:
s2 = pd.DataFrame(np.c_[ttv_2nd_order,deltas2], columns=['name','delta_min'])
s2['2nd order'] = True
s2.sort_values(by='delta_min')

            name              delta_min  2nd order
7  TIC 273875635  0.0005883449035792854       True
6  TIC 178155732  0.0006224222599617857       True
0  TIC 278892590  0.0031356719848618653       True
2  TIC 158935283  0.0039975585507356914       True
1  TIC 169175503   0.007598013747587284       True
5  TIC 123449386   0.008166089530387888       True
3  TIC 262715204   0.008521706434448051       True
4  TIC 121731834   0.008860591744318858       True

In [38]:
res3 = pd.merge(s1, s2, how='outer')
res3 = res3.replace(np.nan, False)
res3.shape

/tmp/ipykernel_3483687/3049121476.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  res3 = res3.replace(np.nan, False)

(19, 4)

In [39]:
for name in res3.name:
    idx = [True if i.split()[0]==str(name) else False for i in texts]
    x = np.array(texts)[idx]
    print(x[0] if len(x)>0 else '')

K2-266 (nplanets=4, [Rodriguez+2018](https://exoplanetarchive.ipac.caltech.edu/overview/K2-266), known TTV):<br>
First Order: 4:3 | P=(14.70,19.48) (delta=0.58%)<br>
TESS sectors=[35 45 46 62 72]<br>


Kepler-1669 (nplanets=3, [Armstrong+2021](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-1669)):<br>
First Order: 2:1 | P=(4.73,9.51) (delta=0.56%)<br>
TESS sectors=[14 54 55 75 81 82]<br>

Kepler-177 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-177), known TTV):<br>
First Order: 4:3 | P=(36.86,49.41) (delta=0.53%)<br>
TESS sectors=[14 26 40 41 53 55 74 75 80 81 82]<br>

Kepler-297 (nplanets=3, [Q1_Q17_Dr25_Koi_Table](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-297), known TTV):<br>
First Order: 2:1 | P=(74.92,150.02) (delta=0.12%)<br>
TESS sectors=[14 15 40 41 53 54 55 74 75 80 81 82]<br>

Kepler-36 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-36), known TTV):<br>
First Order: 7:6 | P=(13.87,16.22) (delta=0.24%)<br>
TESS sectors=[14 15 40 41 54 55 74 75 80 81 82]<br>

Kepler-50 (nplanets=2, [Chaplin+2013](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-50), known TTV):<br>
First Order: 6:5 | P=(7.81,9.38) (delta=0.02%)<br>
TESS sectors=[26 40 41 53 54 55 74 75 80 81 82]<br>









TOI-216 (nplanets=2, [Dawson+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-216), known TTV):<br>
First Order: 2:1 | P=(17.16,34.53) (delta=0.59%)<br>
TESS sectors=[ 1  2  3  4  5  6  7  8  9 11 12 13 27 28 29 30 31 32 33 34 35 36 37 38
 39 61 62 63 64 65 66 67 68 69]<br>

TRAPPIST-1 (nplanets=7, [Agol+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TRAPPIST-1), known TTV):<br>
First Order: 3:2 | P=(4.05,6.10) (delta=0.45%) 3:2 | P=(6.10,9.21) (delta=0.61%) 4:3 | P=(9.21,12.35) (delta=0.62%)<br>
Second Order: 5:3 | P=(2.42,4.05) (delta=0.31%) 6:4 | P=(4.05,6.10) (delta=0.45%) 6:4 | P=(6.10,9.21) (delta=0.61%) 8:6 | P=(9.21,12.35) (delta=0.62%)<br>
TESS sectors=[70]<br>

In [50]:
res3.groupby('name').count().max(axis=1).sort_values(ascending=False).head(10)

name
HD 108236        1
K2-266           1
KIC 5437945      1
Kepler-177       1
Kepler-297       1
TIC 169175503    1
TIC 262715204    1
TIC 273875635    1
TIC 278892590    1
TOI-216          1
dtype: int64

duplicate_names="KOI-351,K2-381,TRAPPIST-1,TOI-561,Kepler-1542,TOI-1136,Kepler-339,Kepler-60".split(',')
res3[res3.name.isin(duplicate_names)].sort_values('name')

In [21]:
#merge duplicate row and keep only True
res3 = res3.groupby('name', as_index=False).max()
res3 = res3.sort_values(by='delta_min')
res3

             name               delta_min  1st order  2nd order
47      Kepler-50   0.0001516792234022013       True      False
51      Kepler-60  0.00021868954495740667       True      False
93       TOI-1136   0.0003067499364933779       True      False
40     Kepler-372   0.0003963844591161614       True      False
83   TIC 27530849   0.0005226864229330719      False       True
..            ...                     ...        ...        ...
46      Kepler-49    0.009924635320084807       True      False
50      Kepler-59    0.009991287031286156       True      False
79  TIC 273592336  2.3793680032468956e-05      False       True
2       HD 110067  2.6434501167793556e-05       True      False
29     Kepler-223    3.52089311518311e-05       True      False

[100 rows x 4 columns]

In [22]:
len(res3.name.unique())

100

res3[res3.name.isin(duplicate_names)].sort_values('name')

In [23]:
res3.to_csv('../data/name_resonance_from_nexsci.csv')

In [24]:
len(texts), len(res3)

(95, 100)

In [25]:
res3.head()

            name               delta_min  1st order  2nd order
47     Kepler-50   0.0001516792234022013       True      False
51     Kepler-60  0.00021868954495740667       True      False
93      TOI-1136   0.0003067499364933779       True      False
40    Kepler-372   0.0003963844591161614       True      False
83  TIC 27530849   0.0005226864229330719      False       True

idx = res3.index.values
for i in idx:
    print(texts[i])

In [51]:
for name in res3.name:
    idx = [True if i.split()[0]==name else False for i in texts]
    x = np.array(texts)[idx]
    print(x[0] if len(x)>0 else '')

K2-266 (nplanets=4, [Rodriguez+2018](https://exoplanetarchive.ipac.caltech.edu/overview/K2-266), known TTV):<br>
First Order: 4:3 | P=(14.70,19.48) (delta=0.58%)<br>
TESS sectors=[35 45 46 62 72]<br>


Kepler-177 (nplanets=2, [Vissapragada+2020](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-177), known TTV):<br>
First Order: 4:3 | P=(36.86,49.41) (delta=0.53%)<br>
TESS sectors=[14 26 40 41 53 55 74 75 80 81 82]<br>

Kepler-297 (nplanets=3, [Q1_Q17_Dr25_Koi_Table](https://exoplanetarchive.ipac.caltech.edu/overview/Kepler-297), known TTV):<br>
First Order: 2:1 | P=(74.92,150.02) (delta=0.12%)<br>
TESS sectors=[14 15 40 41 53 54 55 74 75 80 81 82]<br>





TOI-216 (nplanets=2, [Dawson+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TOI-216), known TTV):<br>
First Order: 2:1 | P=(17.16,34.53) (delta=0.59%)<br>
TESS sectors=[ 1  2  3  4  5  6  7  8  9 11 12 13 27 28 29 30 31 32 33 34 35 36 37 38
 39 61 62 63 64 65 66 67 68 69]<br>

TRAPPIST-1 (nplanets=7, [Agol+2021](https://exoplanetarchive.ipac.caltech.edu/overview/TRAPPIST-1), known TTV):<br>
First Order: 3:2 | P=(4.05,6.10) (delta=0.45%) 3:2 | P=(6.10,9.21) (delta=0.61%) 4:3 | P=(9.21,12.35) (delta=0.62%)<br>
Second Order: 5:3 | P=(2.42,4.05) (delta=0.31%) 6:4 | P=(4.05,6.10) (delta=0.45%) 6:4 | P=(6.10,9.21) (delta=0.61%) 8:6 | P=(9.21,12.35) (delta=0.62%)<br>
TESS sectors=[70]<br>

In [27]:
np.savetxt('../data/name_resonance_from_nexsci.txt', res3.name.tolist(), fmt="%s")
np.savetxt('../data/name_resonance_from_nexsci_1st_order.txt', ttv_1st_order, fmt="%s")
np.savetxt('../data/name_resonance_from_nexsci_2nd_order.txt', ttv_2nd_order, fmt="%s")

In [28]:
s = pd.Series(ttv_1st_order)
s = s[s.isin(host_multis_w_prot)]
for i in s:
    d = df3[df3.hostname==i].reset_index(drop=True)
    print(f"{d.hostname.unique()}: Prot={d.st_rotp.unique()} d")
    print(d[['pl_name','pl_orbper']])

['HD 23472']: Prot=[40.1] d
      pl_name  pl_orbper
0  HD 23472 d   3.976640
1  HD 23472 e   7.907540
2  HD 23472 f  12.162184
3  HD 23472 c  29.797490
4  HD 23472 b  17.667087
['Kepler-102']: Prot=[27.95] d
        pl_name  pl_orbper
0  Kepler-102 b   5.286965
1  Kepler-102 c   7.071392
2  Kepler-102 d  10.311767
3  Kepler-102 e  16.145699
4  Kepler-102 f  27.453592
['V1298 Tau']: Prot=[2.87] d
       pl_name  pl_orbper
0  V1298 Tau b   24.13960
1  V1298 Tau d   12.40320
2  V1298 Tau e   60.00000
3  V1298 Tau c    8.24958
['L 98-59']: Prot=[78.  80.9] d
     pl_name  pl_orbper
0  L 98-59 d   7.450729
1  L 98-59 b   2.253114
2  L 98-59 c   3.690675
['HD 109833']: Prot=[5.11] d
       pl_name  pl_orbper
0  HD 109833 b   9.188526
1  HD 109833 c  13.900148

# literature search for TTV

!pip install arxiv

In [1]:
import arxiv

search = arxiv.Search(
  query = "abs:ttv",
  max_results = 1_000,
  sort_by = arxiv.SortCriterion.SubmittedDate
)

titles = [r.title for r in search.results()]

In [23]:
known_ttvs = []
for title in titles:
    for word in title.split():
#         print(word)
        if word[-1]=='b':
            word = word[:-2]
        if word in ttv_1st_order:
            known_ttvs.append(word)
set(known_ttvs)

{'K2-138',
 'K2-146',
 'K2-19',
 'KOI-1599',
 'Kepler-1705',
 'Kepler-1972',
 'Kepler-59',
 'Kepler-60',
 'Kepler-80',
 'TOI-216',
 'TOI-270',
 'TRAPPIST-1'}